[2018-10-10 23:35] kejxu opened #3 "[rosservice] rosservice does not de-register"
after shutdown of turtlesim, the xmlrpc server still advertises the endpoint address.

run rosnode ping turtlesim  and you will see the entry remains.

Repro steps:
console 1: run 'roscore'
console 2: run 'rosrun turtlesim turtlesim_node', turtle window shown
console 3: run 'rosnode list'

press Ctrl-C in console 2, turtle window disappear but prompt will not show up.  If close the console, the en

[2018-10-10 23:37] kejxu opened #4 "[doc] single quote vs double quote for command line tools"
[code]

This problem is on Window the delimiter is double quote so the single quoted string '[2.0, 0.0, 0.0]' is treated as 3 parameters instead of 1.

[2018-10-10 23:38] kejxu opened #5 "[rqt_plot] rqt_plot is missing icon assets"
execute `c:\>rosrun rqt_plot rqt_plot`

blank buttons will appear

[2018-10-10 23:39] kejxu opened #6 "[roswtf] WARNING Communication with node [/rosout] is very slow"
[code]

[2018-10-10 23:42] kejxu opened #7 "[general] warning C4099 might cause linkage mismatch"

[2018-10-10 23:43] kejxu opened #8 "[rosserial] sync error reported, cascades to a board reset"
Connect a OpenCR with turtlebot3 rosserial.
Launch turtlebot3_core-win, connecting to the robot.

Wait.

Sync errors start propagating

[2018-10-10 23:44] kejxu opened #9 "[rosdeps] reinitializes with error when updating or installing other metapackages"
When you do choco install ros-melodic-perception after doing a choco install ros-melodic-desktop, you can an error from rosdeps indicating it is already initialized.

[2018-10-10 23:45] kejxu opened #10 "[rViz] panels do not show up consistently"

[2018-10-10 23:46] kejxu opened #11 "[roscd] implement roscd"

[2018-10-10 23:46] kejxu opened #12 "[feature] implement rosls"

[2018-10-10 23:46] kejxu opened #13 "[rossrv] "rossrv show" outputs error `No handlers could be found for logger "rosout"`"
when you use rossrv show to show message structure, it will output `No handlers could be found for logger "rosout"` in the very beginning.

[2018-10-11 21:59] johnsonshih commented on #4
https://github.com/ms-iot/ROSOnWindows/pull/14

[2018-10-11 21:59] #4 closed

[2018-10-15 16:59] johnsonshih opened #15 "devel setup.bat not working"
Create a workspace.
Clone ms-iot/rviz to the workspace
catkin_make
devel\setup.bat
rosrun rviz rviz

[2018-10-17 18:03] ooeygui opened #17 "[WinML] Post documentation on WinML ROS Node"
During ROSCon, we demonstrated hardware accelerated Windows Machine Learning with ROS. The repositories are accessible here:
https://github.com/ms-iot/winml_ros_demo
https://github.com/ms-iot/winml_tracker

However, we need to publish documentation, as well as make the Winml tracker download the onyx file.

[2018-10-22 16:47] kejxu opened #23 "[ros_comm/test_roslaunch] test_roslaunch.rosunit-roslaunch_command_line_online/test_roslaunch [ERROR]"
[noop.launch] is neither a launch file in package [roslaunch] nor is [roslaunch] a launch file name

[test_roslaunch.rosunit-roslaunch_command_line_online/test_roslaunch][ERROR]----
Command '['roslaunch', '--wait', 'roslaunch', 'noop.launch']' returned non-zero exit status 1
  File "C:\opt\python27amd64\lib\unittest\case.py", line 329, in run
    testMethod()
  File "D:\a\1\a\_ws\src\ros_comm\test

[2018-10-22 16:49] kejxu commented on #23
https://github.com/ms-iot/ros_comm/pull/33

added the `noop.launch` file as part of the test_roslaunch package

[2018-10-22 16:49] #23 closed

[2018-10-22 16:51] kejxu opened #24 "[ros_comm/rosgraph] test_roslogging failed"
[code]

[2018-10-22 16:54] kejxu opened #25 "[ros_comm/test_roslaunch] rosunit-params_basic/test_commandandfile [FAILURE]"
[code]

cat is not supported as a command line tool in windows environment

[2018-10-22 17:47] kejxu commented on #24
fixed in https://github.com/ms-iot/ros_comm/pull/34

[2018-10-22 17:47] #24 closed

[2018-10-22 20:22] raviBhadeshiya opened #26 "No handler could be found for logger "rosout""
When I try to run roscore on Ubuntu 16.04 and export to windows 10 pro for workstation; I'm getting this error. Am I missing something? Or is it  related to slow connection with rosout?
![err](https://user-images.githubusercontent.com/5351081/47316840-b25a9580-d60d-11e8-99d1-acc9572f6ebb.png)

[2018-10-22 23:13] shschaefer commented on #17
Added basic documentation to WinML Tracker repository.  Will look at adding more documentation to the code.

[2018-10-23 18:00] #17 closed

[2018-10-23 18:04] ooeygui commented on #26
Hi Ravi,
We have this logged as Issue #13 . This is one of the things we need to fix before committing upstream. For now, it can be ignored.

[2018-10-23 18:04] #26 closed

[2018-10-23 18:07] ooeygui commented on #10
There appears to be a race condition in rViz. While this repros on Linux, it repros much more consistently on Windows.

Repro:
rosrun rviz rviz

Observe:
inconsistently, one or more of the default panels will not display.

Expect:
All default panels to display.

Suspect a race condition between async creation of the backing windows during window state restore.

[2018-10-23 18:38] raviBhadeshiya commented on #26
Hi Lou, I'm unable to communicate between windows and ubuntu as well.

[2018-10-24 20:32] kejxu commented on #25
fix 1: https://github.com/ms-iot/ros_comm/pull/35

[2018-10-25 21:19] ooeygui opened #28 "[Descartes] Needs Integral types for OpenMP"
**The bug**
Descartes uses OpenMP to parallel process graph points. However, OpenMP requires a signed integral type. Descartes uses std::size_t which is incompatible.

** The Fix **
Figure out how to either use std::size_t in OpenMP or route through an signed integral index.

[2018-10-25 22:02] ooeygui opened #29 "[MoveIt] MOVEIT_CLASS_FORWARD declares a class; however, some forward declares are actually structs"
**Describe the bug**
In the MoveIt headers, a class is forward declared with `MOVEIT_CLASS_FORWARD`. However, in some cases, the class is later declared as a struct:

[code]
This causes a build break for consumers of MoveIt.
`warning C4099: 'planning_scene::PlanningScene::CollisionDetector': type name first seen using 'class' now seen using 'struct'`

**Fix **
Please make all structs classes with

[2018-10-25 22:04] ooeygui opened #30 "[ros_comm] class_loader refers to a vector which has a dynmamic sized ABI"
**Describe the bug**
class_loader has a std::vector in its interface, which when exported on Windows results in a build break:

`warning C4251: 'class_loader::impl::AbstractMetaObjectBase::associated_class_loaders_': class 'std::vector<class_loader::ClassLoader *,std::allocator<_Ty>>' needs to have dll-interface to be used by clients of class 'class_loader::impl::AbstractMetaObjectBase'`

the asso

[2018-10-25 22:28] ooeygui commented on #30
Actually safe to ignore.

[2018-10-28 15:08] traversaro opened #31 "Linking error with Debug configuration of a C++ project that links TinyXML"
**Describe the bug**
Any C++ project that links to TinyXML fails to compile in Debug, because only the Release version of TinyXML is provided in `tinyxml` package in the chocolatey `ros-win` channel.

**To Reproduce**
After executing `setup.bat`, try to compile in Debug a simple project that uses TinyXML https://gist.github.com/traversaro/c27938365ca06f0f95facc887275a42e :
[code]
The last command

[2018-10-28 15:09] traversaro commented on #31
Related discourse comment: https://discourse.ros.org/t/moveit-now-enabled-for-ros1-on-windows/6509/2 .

[2018-10-28 15:42] traversaro opened #32 "Linking error with C++ project that links SDL"
**Describe the bug**
Any C++ project that links to SDL  fails to compile. Searching for the error, I found https://stackoverflow.com/questions/30412951/unresolved-external-symbol-imp-fprintf-and-imp-iob-func-sdl2 , that indicates that the problem may be that the binary version of SDL distributed in chocolatey was built with an old version of Visual Studio.

**To Reproduce**
After executing `setup.

[2018-10-29 08:31] traversaro opened #33 "Cookbook discussion"
**Describe the bug**
Not really a bug, just a couple suggestion for the Cookbook available at https://github.com/ms-iot/ROSOnWindows/blob/master/Porting/Cookbook.md . If you agree with them, I would be happy to provide a PR for modifying the Cookbook.

## Visibility macros
For dealing with visibility issues, the cookbook suggests to use the `CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS` CMake property.

Howev

[2018-10-30 15:51] seanyen-msft commented on #7
C4099 warnings could hint some data types inconsistent to what's supposedly to be defined. And it could result in wrong DLL interfaces getting exported and make linkage issues for downstream projects to consume it. Ideally this warnings should be all clear for Windows build.

The build warning message could be like this:
2018-10-30T10:54:52.6590270Z D:\a\1\a\_ws\src\bond_core\bondcpp\include\bondc

[2018-10-30 17:32] seanyen-msft opened #34 "[general] Revert changes in https://github.com/ms-iot/common_msgs"
In the beginning of the ROS1 windows ported, many messages have name conflicts with macros defined in Windows.h (which is included by ros.h by default) so we renamed them as a workaround.

Now we don't have windows.h always included in ros.h, we should consider removing those messages renames changes.

[2018-11-01 20:53] ooeygui commented on #33
Hi @traversaro,
Thank you for the feedback. Please do submit a PR for updates.

**Visibility**
Please do a pull request to clarify this section. It's one of the more obscure issues when porting, so we'd like to minimize the pain.

** Warning as Errors **
I updated the documentation to clarify, as well as how to disable specific warnings.

Thank you!

[2018-11-01 21:15] ooeygui commented on #31
Hi @traversaro,
We only released release binaries of the dependencies.
Could you let us know what you are looking for from the debug version? Is it just symbols or are you looking for extra validation?

[2018-11-01 21:36] traversaro commented on #31
Hi @ooeygui ,
whenever I develop new software, I typically compile it in  `Debug` for several reasons:
* as you mention, the possibility of viewing the source code symbols during debugging (and this can be also be done compiling in `RelWithDebInfo` ,
* to enable checks in the code that use the standard [`assert`](https://en.cppreference.com/w/cpp/error/assert) macro are enabled (and this typically

[2018-11-02 16:10] spencerh-b opened #36 "Does not recognize any ros commands"
I have followed all steps on the install page, but when trying to run roscore:

`C:\Windows\System32>roscore
'roscore' is not recognized as an internal or external command,
operable program or batch file.`

Is there a step I missed?

Thank you in advance

[2018-11-02 16:30] traversaro commented on #36
Did you run
[code]
in the ROS Terminal?
This step is indeed missing in https://ms-iot.github.io/ROSOnWindows/GettingStarted/Setup.html .

[2018-11-02 20:20] ooeygui commented on #31
Thank you for the reply. Looking at the docs it is not documented. I will fix that. (And I also see some opportunity to make the docs more friendly).

Do you think it is reasonable to have a separate ros and rosdeps path for debug?
I.e. c:\opt\rosd and c:\opt\rosdepsd?

I'll keep this issue open.

[2018-11-02 20:35] ooeygui commented on #36
@traversaro Thank you for answering - I updated the setup doc.

[2018-11-03 14:37] traversaro commented on #33
Thanks for the reply @ooeygui . PR on visibility added in https://github.com/ms-iot/ROSOnWindows/pull/37 .

[2018-11-03 17:31] traversaro commented on #31
I guess you mean that `c:\opt\rosdepd` will contain the exact same content of `c:\opt\rosdep``, but compiled in `Debug` mode, that would in theory work, but with several downsides:
* The Visual Studio CMake generator is a multi-config generator (see https://cgold.readthedocs.io/en/latest/glossary/multi-config.html), meaning that the configuration used for compilation is not chosen at CMake configu

[2018-11-06 00:18] kejxu commented on #25
fix 2: https://github.com/ms-iot/ros_comm/pull/36
`cat` is a linux-specific command, skipping test cases related to this functionality for now

[2018-11-06 00:18] #25 closed

[2018-11-06 21:45] seanyen-msft commented on #34
Closed it since the changes are merged to ms-iot repos.

[2018-11-06 21:45] #34 closed

[2018-11-16 13:59] gladijos opened #39 "eigen include directory"
**Describe the bug**
today eigen include directory should be equal C:/opt/rosdeps/x64/include/eigen3. It required by  files C:\opt\ros\melodic\x64\lib\pkgconfig\orocos-kdl.pc and C:\opt\ros\melodic\x64\lib\pkgconfig\orocos_kdl.pc

**To Reproduce**
*call " choco upgrade ros-melodic-desktop -y"

**Expected behavior**
files orocos_kdl.pc  and orocos-kdl.pc shouldn't contain absolute paths.

**Environ

[2018-11-16 14:04] gladijos commented on #39
Actually if you have installed smthing that use eigen before the folder "C:\opt\rosdeps\x64\include\eigen3" wouldn't exist. - this is the main problem.

[2018-11-16 21:52] seanyen-msft commented on #39
If you have orocos_kdl installed (which is a catkin package), then rosdep should resolve eigen as a dependency for you. Can you elaborate more what's the use case you are hitting problems?

[2018-11-17 10:08] gladijos commented on #39
I had installed ros2 on win10. I installed it with choco using. I think choco installed eigen for ros2. After this I tried to install ros1 with choco help and this path "C:\opt\rosdeps\x64\include\eigen3" hadn't existed after installation. But I noticed that there are eigen3 folder and archive exist in choco directories ("C:\ProgramData\choco..."). After this I deleted choco directory and C:\opt\

[2018-11-20 19:33] seanyen opened #40 "CATKIN_BUILD_BINARY_PACKAGE only partially works on Windows build"
**Describe the bug**
In ROS build system, catkin_make can take -DCATKIN_BUILD_BINARY_PACKAGE=ON to skip copying the catkin binaries (e.g. setup.sh env.sh) but on Windows build, the logic seems broken.

**To Reproduce**
Steps to reproduce the behavior:
`catkin_make_isolated  -DCATKIN_BUILD_BINARY_PACKAGE=ON --install`

**Expected behavior**
setup.bat and env.bat should not be copied to the install

[2018-11-25 23:55] ooeygui commented on #39
Thank you for this bug. ROS1 and ROS2 must co-exist.

[2018-12-01 19:15] ooeygui commented on #11
roscd isn't working for the beginner tutorials

[2018-12-03 16:21] kejxu commented on #11
I’ll verify and work on this today

From: Lou Amadio <notifications@github.com>
Sent: Saturday, December 1, 2018 11:16 AM
To: ms-iot/ROSOnWindows <ROSOnWindows@noreply.github.com>
Cc: James Xu <Kejia.Xu@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [ms-iot/ROSOnWindows] [roscd] implement roscd (#11)

roscd isn't working for the beginner tutorials

—
You are receiving this because

[2018-12-22 04:12] bbw2008927 opened #44 "rviz fail to start because it could not find or load the Qt platform plugin"
Hi,
After install binary of ros-win 20181221.1.
But I try to run rosrun rviz rviz. I get error, can't find Qt plateform.  and I have run setup.bat before rosrun.
roscore have run without no problem in other.
The procedure of install, choco upgrade ros-melodic-desktop -y, no error happen.
I can find folder of C:\opt\rosdeps\x64\plugins\platforms
And add C:\opt\rosdeps\x64 into path of OS. But there

[2018-12-22 07:17] seanyen-msft commented on #44
Thank for trying out ROS on Windows!

As of the error which cannot find QT platform, can you describe more what message you saw? Or screenshot?

Also it would be helpful to post the following output about your environment:
[code]

[2018-12-22 08:59] bbw2008927 commented on #44
Hi,
Info of env variable:
1. ROS:
ROS_DISTRO=melodic
ROS_ETC_DIR=C:/opt/ros/melodic/x64/etc/ros
ROS_MASTER_URI=http://localhost:11311
ROS_PACKAGE_PATH=C:/opt/ros/melodic/x64\share
ROS_PYTHON_VERSION=2
ROS_ROOT=C:/opt/ros/melodic/x64/share/ros
ROS_VERSION=1
2. Qt, Only one line.
QtMsBuild=C:\Users\Administrator\AppData\Local\QtMsBuild
3. My PATH is very long, so I pick all the ROS involved outpu.
T

[2018-12-22 17:20] amitbiswas26 opened #45 "[Cloud] rViz died immediately after starting"
Hi,
I was trying out the TurtleBot3 project, however when I try to launch the simulation(**roslaunch turtlebot3_fake turtlebot3_fake.launch**), rViz seems to be crashing immediately after starting:

[code]
Any idea what might be the reason?

![image](https://user-images.githubusercontent.com/38895485/50377003-a87fef00-05ca-11e9-828d-f9764a6dfe6c.png)

[2018-12-22 18:00] seanyen-msft commented on #44
It's very likely that your environment is missing QT_PLUGIN_PATH. Can you try to run the following?

[code]

If it works, then I guess there is some problem in `C:\opt\ros\melodic\x64\etc\catkin\profile.d\1.ros_misc.bat`, particularly the output of `where qt5core.dll`. Can you try to run it manually to see any interesting values there?

[2018-12-22 18:54] traversaro commented on #44
We had a similar problem when trying to run RViz  on machine in which another Qt installation was already present in the User Path. In that case, I typically suggest to open the RViz binary with https://github.com/lucasg/Dependencies from the ROS command line  and verify which Qt dll is actually loaded by the program.

[2018-12-22 20:08] amitbiswas26 commented on #45
Here is the [Crash Dump](https://resmppaidisk.blob.core.windows.net/ros/rviz.exe.5784.dmp)

And yes, it repros with **roscore** already running and then running **rosrun rviz rviz -l**

<details>
<summary>Click to expand!</summary>

[code]

[2018-12-23 00:36] bbw2008927 commented on #44
Hi
Rviz can open in my side.
Notice! the Qt_pulgin_path is C:\opt\rosdeps\x64\plugins.
thanks

[2018-12-23 15:30] seanyen-msft commented on #45
@amitbiswas26 it seems the crash happens when RViz calls createrenderwindow from OGRE. One more thing I noticed is that "GL_RENDERER = GDI Generic". Did you run it on a VM or over remote desktop? If yes, did you have the same issue if you are running it on a physical machine?

[2018-12-24 01:28] bbw2008927 opened #46 "[catkin_make] How to add PCL dependency for ROS"
**Describe the issue**
There are some code based on PCL and VS2017, and I want plant them into ROS.
I found out the PCL_percetion package is not ready. So I have to use PCL from PCL-1.8.1-AllInOne-msvc2017-win64.exe.
My question is how to config local library in ROS-windows.
In Linux side, find_package will help.  But in windows side, I don't know how to make catkin to find local library.

**Discu

[2018-12-24 19:13] amitbiswas26 commented on #45
@seanyen-msft, Yes, I am accessing through remote desktop and the machine is an Azure VM. I haven't yet tried on a local physical machine, will let you know once I set it up.
So is this an OGRE issue with remote desktop? If so, are there any workarounds?

[2018-12-25 18:19] seanyen-msft commented on #46
@bbw2008927 have you tried to install ros-melodic-desktop_full instead? pcl_conversions should be ready there.

[2018-12-31 16:19] traversaro opened #47 "gzclient does not start unless the GAZEBO_IP env variable is set to 127.0.0.1 when a non-running interface is present in the machine"
**Describe the bug**
gzclient does not start correctly unless the GAZEBO_IP env variable is set to 127.0.0.1 for both gzserver and gzclient.

**To Reproduce**
I tried to launch https://ms-iot.github.io/ROSOnWindows/Turtlebot/Turtlebot3.html using the the `roslaunch turtlebot3_gazebo turtlebot3_gazebo_cartographer_demo.launch` command, and the gzclient was opening but instead of the rendererede 3D

[2018-12-31 16:31] traversaro commented on #47
To investigate a bit the issue, I launched `gzserver --verbose` after calling `call `C:\opt\rosdeps\x64\share\gazebo-9\setup.bat` after `C:\opt\ros\melodic\x64\setup.bat`, **without** setting GAZEBO_IP. The output that I get is:
[code]
Note that `169.254.220.186` is not a valid IP for any network interface of my laptop, at least according to the `ipconfig` output:
[code]

Interestingly, a similar

[2018-12-31 16:54] traversaro commented on #47
If I understand correctly from a quick internet search (I am not 100% sure), apparently 169.254.*.*  addresses are actualy part of APIPA support in Windows ( https://wiki.wireshark.org/APIPA ), and so they are assigned to adapters that are listed as "Media disconnected" in `ipconfig`. So the problem is just in Gazebo logic to find the IP of the adapter, and so it is affecting in the same way regul

[2018-12-31 17:07] traversaro commented on #47
I am not completly sure on that, to be honest. I saw around ( http://www.tomshardware.co.uk/answers/id-3420985/media-disconnected-problem.html ) output of ipconfig in which a network adapter assigned to a `169.254.*.*`  address is explicitly listed, so probably my assumption that "Media disconnected" adapter have a  `169.254.*.*`  address was false.

[2018-12-31 17:11] traversaro commented on #47
As correctly pointed out in the WSL issue, we probably need a fix similar to https://bitbucket.org/osrf/gazebo/pull-requests/3009/adding-check-to-make-sure-automatic/diff but for the Windows part of the code.

[2018-12-31 17:17] traversaro commented on #47
Based on the similar code contained in `ignition-transport` (https://bitbucket.org/ignitionrobotics/ign-transport/src/f6f581a6852b0eccc8d9e27c398def9f174ca33a/src/NetUtils.cc#lines-292), I guess we should add
[code]
before this line https://bitbucket.org/seanyen-msft/gazebo/src/7eb033b4c8f891a9385fe2e50ba2db0310077fe9/gazebo/transport/Connection.cc?at=gazebo9_9.5.0_windows&fileviewer=file-view-def

[2019-01-02 07:01] bbw2008927 commented on #46
Hi
Thanks for your response.
I have install ros-melodic-desktop-full.
Besides,  pcl_conversions only provide function to convert PCL to ROS_message.
pcl_conversion don't contain any Lidar process function.
So far, I use vcpkg to manage package including OpenCV, PCL. and vcpkg will handle cmake config.
Take OpenCV as example, following should be added if you use vcpkg:

find_package(OpenCV REQUIRED

[2019-01-02 08:38] bbw2008927 commented on #46
Sorry, I make mistake.
The command is choco update ros-melodic-desktop_full -y
And  it looks like this full version contain pcl 1.8.1 and freeimage library.
These two can used to process lidar and image.

[2019-01-02 09:48] bbw2008927 commented on #44
Hi
After I update full version by choco update ros-melodic-desktop_full -y
I get can't find plugin again.
I also try to lucasg/dependencies to analysis reason.
But I still have no idea.
![snipaste_2019-01-02_17-47-59](https://user-images.githubusercontent.com/30364915/50586912-951c3000-0eb6-11e9-88f7-211b5f0ef028.jpg)

[2019-01-02 19:27] #46 closed, assigned to nobody

[2019-01-02 21:37] seanyen-msft commented on #47
@traversaro That's an interesting issue. Did you try to use `ipconfig /all` to see if `169.254.*.*` from any adapters?

I am not able to repro this issue on my end, so I cannot verify the fix. But I rebuilt with your suggested change and published the updated Gazebo9 package. You can do `choco upgrade gazebo9 -y` to refresh the new bits (9.4.1.1901022119). Let me know if it helps.

[2019-01-02 21:52] traversaro commented on #47
[code]
No trace of `169.254.*.*`, but to be honest I am connected to a different Wi-Fi network w.r.t. to two days ago.
However the updated binary is working fine and the issue seems to be solved, thanks a lot!

[2019-01-02 22:08] #47 closed

[2019-01-02 23:19] traversaro opened #48 "Problem compiling Gazebo plugin that uses the gazebo rendering Camera header"
**Describe the bug**
Compilation of a Gazebo plugin that uses the header `<gazebo/rendering/Camera.hh>` is not working.

**To Reproduce**
After executing `C:\opt\ros\melodic\x64\setup.bat` and `C:\opt\rosdeps\x64\share\gazebo-9\setup.bat`, try to compile in Release a simple Gazebo plugin that includes `<gazebo/rendering/Camera.hh>` (based on http://gazebosim.org/tutorials/?tut=plugins_hello_world)

[2019-01-03 13:10] bbw2008927 opened #49 "RVIZ can't display point cloud from PointCloud2 message"
**Describe the bug**
When I  publish Point Cloud2 message,  I find out rviz can get the message information but can't display.
This is rviz screen shot:
![snipaste_2019-01-03_20-58-16](https://user-images.githubusercontent.com/30364915/50639179-7cd21100-0f9b-11e9-8557-4566a16fd7a3.jpg)
This is the error in the cmd windows:
![snipaste_2019-01-03_20-49-55](https://user-images.githubusercontent.com/3

[2019-01-03 13:12] bbw2008927 commented on #49
And this is RVIZ dependency information, I think it is OK.
![snipaste_2019-01-03_21-12-35](https://user-images.githubusercontent.com/30364915/50639395-4f399780-0f9c-11e9-94b0-9078085838d1.jpg)

[2019-01-03 20:34] ooeygui commented on #49
Hi @bbw2008927,
Let me see if I can help you. Could you post the whole screenshot of rViz? I suspect that it is a driver issue.

Are you running rViz on native hardware or through a VM?

[2019-01-03 20:55] ooeygui commented on #45
Thanks for the report. We'll look into it right away.

[2019-01-04 00:40] bbw2008927 commented on #49
Thanks for your answer.
There is no VM. And these are the screenshot of rviz and cmd win.
The GPU I use is GTX1050ti. NVIDIA driver version is 399.24.
![snipaste_2019-01-04_08-34-19](https://user-images.githubusercontent.com/30364915/50668713-c6eadf00-0ffb-11e9-9063-c65e0a15afb1.jpg)
![snipaste_2019-01-04_08-34-33](https://user-images.githubusercontent.com/30364915/50668714-c7837580-0ffb-11e9-87ec

[2019-01-06 23:49] ooeygui opened #50 "Robot_state_publisher dies on an invalid URDF"
**Describe the bug**
robot_state_publisher does not handle the parse error from urdf model parsing, instead crashes without an error description.

**To Reproduce**
Create a URDF with an invalid link; such as two roots.
[code]

Then use urdf_tutorial to run this:
roslaunch urdf_tutorial display.launch model:=sample_ws\urdf\workcell.xacro

**Expected behavior**
robot_state_publisher should output an

[2019-01-07 08:13] gavanderhoorn commented on #50
This may actually be an upstream issue: https://github.com/ros/robot_state_publisher/issues/81.

[2019-01-10 17:19] ColmP opened #51 "ros-catkin-tools install problem."
Hello,

I am new to ROSOnWindows and have run into a consistent problem with installing ros-catkin-tool.
I get the following error:
ERROR: The running command stopped because the preference variable “ErrorActionPreference” or common parameter is set to Stop: Exception: The upgrade of ros-catkin-tools was NOT successful. Error while running ‘C:\ProgramData\chocolatey\lib\ros-catkin-tools\tools\choc

[2019-01-10 18:04] ooeygui commented on #51
@ColmP I'm sorry you are hitting an error, lets see if we can get you unblocked. This is the first report of this kind; I'd love your help root causing.

What locale are you in?
Can you visit https://roswin.azurewebsites.net in a web browser and see if the page displays?
Could you attach the chocolaty log file itself?

[2019-01-10 18:14] ColmP commented on #51
Thank you.
I am able to see the web page. I am located in Boston.
Attached is the chocolaty log file.
[chocolatey.log](https://github.com/ms-iot/ROSOnWindows/files/2746567/chocolatey.log)
At this point we have tried 3 systems. 1 worked, 2 failed with the same error.
I am guessing that there is some dependency that I am missing.
Best Regards,
Colm

[2019-01-10 19:23] ooeygui commented on #51
From the log file:
Error [Error 2] The system cannot find the file specified while executing command git clone -q https://github.com/ros-infrastructure/rospkg c:\users\cprende\appdata\local\temp\chocolatey\pip-install-mr1kjd\rospkg

Can you check to see if the command `git` works in that command window?
If git is missing, you can install it with `choco install git -y`.

If it is there and runs, I'

[2019-01-10 19:49] ColmP commented on #51
The git command does not work in the command window, sorry that I missed that.
Git is installed but must be missing from the path. One the install of ROSOnWindows that worked for us, git runs in the command window.
I added the git program folder to my path ( I had upgraded from a previous git-bash install ) and was able to install ros-catkin-tools. I am currently re-installing the full ros-kinetic

[2019-01-12 07:52] bbw2008927 commented on #49
Maybe it is really from driver issue. I change a new computer, the rviz can display point cloud.

[2019-01-13 00:48] ooeygui opened #52 "Gazebo requires MSVCR100, not installed with choco"
When installing Gazebo on a clean Windows 10 Late 2018 machine, Gazebo fails because MSVCR100 is not installed. This dependency needs to be installed along with Gazebo.

[2019-01-13 07:38] seanyen-msft commented on #52
The missing runtime are: concrt140.dll, msvcp140.dll, vcruntime140.dll.

They are not in the vanilla OS image. Since they are not only required by Gazebo, but also many other tools which have been linked with MSVC C++ runtime,  I will add this Chocolatey packages as a dependency for ros-catkin-tools.
https://chocolatey.org/packages/vcredist140

[2019-01-15 10:36] traversaro commented on #30
Related comments on how to disable `C4251` in a clean way:  https://github.com/robotology/yarp/pull/1647#issuecomment-381676728 .

[2019-01-15 20:57] ooeygui opened #53 "rosrun does not work with camera calibration"
Working through the camera calibration tutorial, rosrun cannot find the installed calibration python script.
http://wiki.ros.org/camera_calibration/Tutorials/MonocularCalibration

Using the command
`rosrun camera_calibration cameracalibrator.py --size 8x6 --square 0.0245 image:=/cv_camera/image_raw camera:=/cv_camera`

I receive the error:
`[rosrun] Couldn't find executable named cameracalibrator.

[2019-01-16 00:02] ooeygui opened #54 "camera_calibration dumps files into unix temp"
The camera_calibration suite uses `/tmp` in many locations. Switch to multiplatform APIs.

[2019-01-16 06:44] sw6y15 opened #55 "turtlebot3_slam: Cannot locate rosdep definition for [gmapping]"
**Describe the bug**
I've installed ros1 in win10 success by following [get started](https://ms-iot.github.io/ROSOnWindows/GettingStarted/Setup.html). When I install [Turtlebot3](https://ms-iot.github.io/ROSOnWindows/Turtlebot/Turtlebot3.html), I got an error:
![image](https://user-images.githubusercontent.com/29120664/51231063-26060780-199d-11e9-9f10-4caeb1faf4ee.png)

**To Reproduce**
Steps to r

[2019-01-16 07:54] seanyen-msft commented on #55
@sw6y15
Thanks for reporting! Are you looking for SLAM stack for turtlebot3? As of today, [Google Cartographer](https://github.com/googlecartographer/cartographer) is one known to work with ROS1 on Windows (You're welcome to make contribution to OpenSLAM gmapping Windows port too!). To learn more, take a look the SLAM example on this [page](https://ms-iot.github.io/ROSOnWindows/Turtlebot/Turtlebot

[2019-01-17 06:17] sw6y15 commented on #55
Ok, I will look at cartographer. Thank you very much.

[2019-01-17 06:17] #55 closed

[2019-01-19 03:30] ooeygui opened #59 "MoveIt setup assistant generates files which do not run on Windows without modification"
[code]

Should remote the single quote on Windows

[2019-01-19 13:58] amitbiswas26 opened #60 "Error while building: Could NOT find gazebo_ros"
Hi, I am getting this error while trying to build (_catkin_make install -DCMAKE_BUILD_TYPE=RelWithDebInfo_):
This is on a fresh machine, just finished installing ROS Win, and was trying to run the Turtle bot simulation.

[code]

![gazebo error](https://user-images.githubusercontent.com/38895485/51427558-36d99780-1bae-11e9-9539-7c53c3ee3ff5.PNG)

[2019-01-19 18:01] seanyen-msft commented on #60
@amitbiswas26 Did you `choco upgrade ros-melodic-desktop_full -y`? And checking `choco list -lo` and `rospack list` would help identify the missing modules.

[2019-01-19 20:05] amitbiswas26 commented on #60
@seanyen-msft Thanks, `choco upgrade ros-melodic-desktop_full -y` seems to have fixed it. Should we add it in the instructions [here ](https://ms-iot.github.io/ROSOnWindows/Turtlebot/Turtlebot3.html)before the Build Nodes section?

[2019-01-20 16:52] seanyen-msft commented on #60
@amitbiswas26 I added few lines in Build Notes. Hope that helps!

[2019-01-20 18:33] ooeygui opened #61 "rViz does not run in the devel environment due to plugins not being found."
When running rViz in a devel environment, rViz cannot load plugins, however it does work in the install environment. I suspect this is a general issue with plugins in development.

Repro:
Checkout rViz into a catkin workspace.
catkin_make
devel\setup.bat

Result:
[ERROR] [1547964534.724646000]: PluginlibFactory: The plugin for class 'rviz/Orbit' failed to load.  Error: Could not find library corre

[2019-01-20 21:16] amitbiswas26 commented on #60
@seanyen-msft Thanks

[2019-01-21 03:20] ooeygui opened #62 "roslaunch error shutting down moveit: killpg not implemented on Windows"
roslaunch uses a unix method when shutting down, which causes an error.

[code]

[2019-01-23 23:32] seanyen-msft commented on #60
Sounds like it's resolved. Closed it.

[2019-01-23 23:32] #60 closed

[2019-01-25 02:05] giovent opened #64 "[MoveIt] Can't import moveit_commander (no _moveit_roscpp_initializer)"
Hi, MoveIt works correctly, but I'd like to use the python interface and I can't import moveit_commander (from python 2.7). Is it possible to use moveit_commander on ROS on Windows?

[code]

[2019-01-25 20:43] ooeygui commented on #64
Thank you for the report.

[2019-01-25 20:44] ooeygui commented on #49
@bbw2008927 I'm sorry for the delay in looking at this. What video card were you using when it didn't render?

[2019-01-28 04:53] seanyen-msft commented on #64
@giovent Can you try out the latest ros-melodic-moveit (`choco upgrade ros-melodic-moveit -y`)? I did some fix-up on some Python module install path, and now the moveit_commander should work with Python script.

[2019-01-28 05:39] ooeygui commented on #61
https://github.com/ms-iot/pluginlib/pull/7

[2019-01-28 08:34] giovent commented on #64
The latest version (20190127.1) fixed it, I can import moveit_commander correctly, many thanks!

[2019-01-28 16:08] seanyen-msft commented on #64
@giovent Sounds good. I closed this issue. Thanks!

[2019-01-28 16:08] #64 closed

[2019-01-31 13:02] lrapetti opened #66 "RViz does not display Temperature"
**Describe the bug**
When I try to add a `TemperatureDisplay`, I am getting the following error:
[code]
![51304855-8e0a2b80-1a39-11e9-9a52-c56d4b06ff7b](https://user-images.githubusercontent.com/35487806/52055440-b462b780-255f-11e9-8876-11360860ea6e.png)

I see a similar error was described in #49, where it seem to be related to driver

**Device information**
- Graphic Processor: Intel HD Graphics

[2019-01-31 16:04] seanyen-msft commented on #66
@lrapetti Thanks for reporting. Have you tried to update the graphic driver to the latest to see if the issue goes away? https://downloadcenter.intel.com/product/98909/Intel-HD-Graphics-630

[2019-01-31 16:53] lrapetti commented on #66
@seanyen-msft From the device manager it seems I'm on the latest version.
If I try to manually download and install the latest version of the driver from the link you sent me (`25.20.100.6519`), the installation procedure fails with the following error message: `The driver being installed is not validated for this computer. Please obtain the appropriate driver from the computer manufacturer`.

Som

[2019-02-01 00:10] seanyen-msft opened #67 "[catkin] PYTHONPATH is not correctly set up to run python_distutils_install.bat"
**Describe the bug**
Python complains PYTHONPATH is not correctly set up when installing a Python module.

[code]

**To Reproduce**
1. choco upgrade ros-melodic-desktop -y
2. create a catkin workspace.
3. checkout "git clone https://github.com/ms-iot/python_qt_binding -b init_windows"
4. catkin_make_isolated

**Expected behavior**
No errors

[2019-02-01 00:13] seanyen-msft commented on #67
To workaround, you will need to manually add the missing path to PYTHONPATH then kickoff another catkin_make_isolated.

[2019-02-01 02:46] bbw2008927 commented on #49
Hi
These are config of my laptop:
GPU: Intel UHD Graphics 630
         NVIDIA GTX1050Ti
Notice: The dual-GPU is based on MUXless not MUXed.
This laptop can run Ubuntu 18.04 with NVIDIA GPU driver.
But it can't run Ubuntu 16.04 with NVIDIA GPU driver.
The new PC I change, the GPU is only GTX1070Ti, There is no intel HD graphics card.
I really want to run ROS on my laptop, So I can solve problem on-

[2019-02-04 21:08] ooeygui opened #68 "choco upgrade ros-melodic-desktop_full does not upgrade rosdeps"
We recently made a change to rViz which requires the new ogre release. When upgrading in-place, the new ogre drop is not brought in. This leads to a build break when compiling rViz plugins, like MoveIt.

Workaround:
choco upgrade all

[2019-02-05 01:49] ooeygui opened #69 "devel\setup.bat intermixes local bin & lib with opt bin"
Build a catkin package
run devel\setup.bat
set path

Result:
path is:
`C:/ws/robo_ws/devel\lib;C:/opt/ros/melodic/x64\lib;C:/opt/rosdeps/x64\lib;C:/ws/robo_ws/devel\bin; ...`

Expect:
`C:/ws/robo_ws/devel\bin;C:/ws/robo_ws/devel\lib;C:/opt/ros/melodic/x64\lib;C:/opt/rosdeps/x64\lib; ...`

[2019-02-05 18:05] OnesoulKang opened #70 "Failed to loat gazebo_ros_controll.dll"
When I launch my launch file, error 'Failed to load gazbo_ros_control.dll' is occur.

There are 'gazebo_ros_control.dll' & 'gazebo_ros_control.lib' in "C:\opt\ros\melodic\x64\lib"

I confirmed that the package is in "C:/opt/ros/melodic/x64\share\gazebo_ros_contro"l using the command 'rospack find gazebo_ros_control'.

How can I fix this error?

Here is my launch file.
<?xml version="1.0" encoding=

[2019-02-06 03:21] ooeygui commented on #70
Hi @OnesoulKang,
I'd like to reproduce this locally. Can you post the commands to setup a workspace? (including clone locations)

@seanyen-msft I don't recall - do we automatically remap Linux filenames to Windows? (I see a `libgazebo_ros_control.so` in the Xacro)

[2019-02-06 19:22] seanyen-msft commented on #70
@OnesoulKang one way to debug it is to use [process monitor](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) to watch where does the gazebo looks for the DLL.

@ooeygui yes, the Gazebo does the trick to remap the so to dll internally if it is Windows system. My guess would be search path issue.

[2019-02-07 02:00] OnesoulKang commented on #70
@ooeygui
I don't know much about this field, so I think it'd be nice if you could give me some more details on what I should tell you.

I usually use this commands to set my working environment.
c:\opt\ros\melodic\x64\setup.bat
c:\catkin_ws\devel\setup.bat

[2019-02-07 06:02] seanyen-msft commented on #70
@OnesoulKang On a second look at your launch file, can you add something like below: You can see an example [here](https://github.com/ms-iot/turtlebot3_simulations/blob/melodic-devel/turtlebot3_gazebo/launch/turtlebot3_gazebo_cartographer_demo.launch):

[code]

Gazebo honors `%GAZEBO_PLUGIN_PATH%` to search the plugin DLLs.

[2019-02-08 01:53] OnesoulKang commented on #70
@seanyen-msft

Thank you for your answer.
but after I add the command, the same error still occurs.

The path I have identified by "rospack find gazebo_plugins" is "C:/opt/ros/melodic/x64\share\gazebo_plugins".

There are several files in the folder.

![image](https://user-images.githubusercontent.com/34219498/52454480-3d48a700-2b8f-11e9-83c3-1d520c4b1a87.png)

[2019-02-08 19:09] seanyen-msft commented on #70
@OnesoulKang hmm, can you modify my example and add `C:\opt\ros\melodic\x64\lib` to GAZEBO_PLUGIN_PATH:

[code]

In general, plugin DLL paths need to be added in GAZEBO_PLUGIN_PATH.

[2019-02-09 21:10] ooeygui opened #71 "MoveIt Setup assistant generates xacro entry that's not cross platform"
<param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro  '$(find x_arm_support)/urdf\workcell.xacro'"/>

Should generate something more like this:
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" command="xacro  $(find x_arm_support)/urdf/workcell.xacro"/>

[2019-02-09 21:13] ooeygui commented on #70
@OnesoulKang No worries. In order for me to reproduce it locally, I need to setup a catkin workspace just like yours. For example, can you send me the git setup instructions?

For example, in our UR3 docs, we have this:
[code]
It would be great to get something similar for your setup.

[2019-02-11 05:46] OnesoulKang commented on #70
@seanyen-msft
I've tried the way you told me, but the same error still happens.
There is no DLL file (gazbo_ros_control.dll) in the folder. So I copy&pasted the file from another computer(with Ubuntu 14.04, ROS Indigo). But the file still cannot be found.

Error Message
`[Plugin.hh:188] Failed to load plugin C:\opt\rosdeps\x64\lib\gazebo-9\plugins\gazebo_ros_control.dll: "C:\opt\rosdeps\x64\lib\ga

[2019-02-11 09:14] seanyen-msft commented on #70
@OnesoulKang
Thank for the information what repo you are using! Look like you are following the tutorials [here](http://www.theconstructsim.com/ros-projects-my-robotic-manipulator-part-4-ros-urdf-transmission-gazebo-controllers/)?

After looking this demo, it seems to depend on [`simulation_gazebo`](https://bitbucket.org/theconstructcore/simulation_gazebo), so I am assuming you are running both:
`

[2019-02-11 19:53] seanyen-msft commented on #70
@OnesoulKang The new build is out, please give it a try! (Run `choco upgrade ros-melodic-desktop_full -y`)

[2019-02-12 01:16] OnesoulKang commented on #70
@seanyen-msft
The error is gone! I really appreciate your help!

I think now we can close this issue!

Thanks!

[2019-02-12 01:16] #70 closed

[2019-02-13 22:07] ooeygui opened #72 "tf2_ros.dll fails to load"
During the upstream working we removed a hack, but missed this fixup. If you are seeing a tf2_ros.dll failing to load, please do a choco upgrade ros-melodic-desktop_full to fix.

Terribly sorry about that.

[2019-02-13 22:08] ooeygui commented on #72
Fixed in 0213.2

[2019-02-13 22:08] #72 closed

[2019-02-15 03:00] kejxu opened #73 "rostopic seems to be broken"
When I run any rostopic command, I get...
[code]

[2019-02-15 03:08] kejxu commented on #73
this issue seems to be triggered by `psutil`'s [recent upgrade to 5.5.0](https://pypi.org/project/psutil/#history) on 2019/01/23. Have not further investigated why this error is triggered, but rolling back to the previous version (5.4.8) would fix this.

If you are blocked by this issue, do the following:
1. check the version of `psutil` installed by your (python 2.x) pip
[code]
2. if it shows `Ve

[2019-02-15 03:17] kejxu commented on #73
opened https://github.com/giampaolo/psutil/issues/1410

[2019-02-15 08:05] seanyen-msft commented on #73
I made some changes in https://github.com/ms-iot/rosdistro-db/tree/init_windows to version-lock the `psutil` to 5.4.8.

[2019-02-15 09:11] seanyen-msft commented on #10
https://answers.ros.org/question/315664/ros-not-running-well-on-windows-10/

[2019-02-15 19:44] kejxu commented on #73
`psutil` recently upgraded to `5.5.1` and `rostopic` works fine with the newer version, the version lock for `5.4.8` has been removed in https://github.com/ms-iot/rosdistro-db/commit/189aaff3e10566e03d7de915286225bcf5960a20

[2019-02-15 19:45] #73 closed

[2019-02-16 01:10] seanyen-msft opened #74 "qt_gui_cpp_sip_LIBRARIES should not explicitly require ${TinyXML_LIBRARIES}"
**Describe the bug**
https://github.com/ms-iot/qt_gui_core/blob/0fe294a14972a727f5c2c457f520a454184026f3/qt_gui_cpp/src/qt_gui_cpp_sip/CMakeLists.txt#L31

In Windows build, we need to specify `${TinyXML_LIBRARIES}` in `qt_gui_cpp_sip_LIBRARIES` but it seems the TinyXML should be already covered by `${qt_gui_cpp_LIBRARIES}`.

**To Reproduce**
Steps to reproduce the behavior:
1. choco upgrade ros-me

[2019-02-19 19:09] seanyen-msft commented on #5
https://github.com/ros-visualization/qt_gui_core/pull/153

All QT-based project might need some treatment like this.

[2019-02-19 19:11] seanyen-msft commented on #44
Closed it because `set QT_PLUGIN_PATH=c:\opt\rosdeps\x64\plugins` seems to work for this case.

[2019-02-19 19:11] #44 closed

[2019-02-19 21:34] seanyen-msft opened #75 "[rosdep] Failed to download target platform data for gbpdistro:"
This issue is duplicate to: https://github.com/ros/rosdistro/issues/20341
The quick fix has been cherry-picked to https://github.com/ms-iot/rosdep/tree/init_windows

[code]

[2019-02-19 21:37] seanyen-msft commented on #75
`choco upgrade all -y` should fix it if you come to this issue.

[2019-02-19 21:39] #67 closed

[2019-02-19 21:49] seanyen-msft opened #76 "Solutions for directly running rqt_* Python scripts on Windows"
We are exploring the solutions in https://github.com/ros/catkin/pull/978 and this issue is meant to track the decision and apply the final solutions to the following commonly seen scripts:

rqt_shell
rqt_plot
rqt_logger_level
rqt_image_view
rqt_graph
rqt_dep
rqt_console
rqt_bag
rqt

[2019-02-20 00:12] #69 closed

[2019-02-20 00:13] seanyen-msft commented on #61
The change is merged. Considered it close.

[2019-02-20 00:13] #61 closed

[2019-02-20 00:13] #15 closed

[2019-02-20 03:46] WangZP10969 opened #77 "[roscore]Problem when running roscore error: ? [31m[rosout-1] process has died [pid 2716, exit code -1073741515..."
**Describe the bug**
A loop error message appears when running roscore:
[roslaunch][INFO] 2019-02-20 10:19:37,971: [rosout-1] restarting process
[roslaunch][INFO] 2019-02-20 10:19:37,971: process[rosout-1]: restarting os process
[roslaunch][INFO] 2019-02-20 10:19:37,973: process[rosout-1]: start w/ args [[u'c:\\opt\\ros\\melodic\\x64\\lib\\rosout\\rosout.exe', u'__name:=rosout', u'__log:=C:\\Users

[2019-02-20 04:01] seanyen-msft commented on #77
@WangZP10969 Thank for reporting this! It smells like the installation doesn't get alone under vscode command prompt. We will take a look on this combination.

Also, I noticed `ros-catkin-tools` is not installed successfully, can you do `choco upgrade ros-catkin-tools -y` directly to see if it resolves the problem?

[2019-02-20 06:16] WangZP10969 commented on #77
1.
I tried using the command choco upgrade ros-catkin-tools -y
The tips given are as follows:
Chocolatey v0.10.11
Upgrading the following packages:
ros-catkin-tools
By upgrading you accept licenses for the packages.
ros-catkin-tools is not installed. Installing...
Progress: Downloading ros-catkin-tools 0.0.1.1901231908... 100%
Progress: Downloading ros-catkin-tools 0.0.1.1901231908... 100%

ros-ca

[2019-02-20 07:09] #75 closed

[2019-02-20 21:32] kejxu commented on #77
thanks again for reporting the issue, the problems are seemingly lack of dependency. a few things to check here:
- are you following the [setup instructions](https://github.com/ms-iot/ROSOnWindows/blob/master/GettingStarted/Setup.md) on ROSOnWindows?
- have you added `ros-win` Nuget source with `choco source add -n=ros-win -s="https://roswin.azurewebsites.net/api/v2" --priority=1`?

btw, thanks fo

[2019-02-21 05:15] WangZP10969 commented on #77
Yes, I did it according to the instructions in this document. Below I will give a record of my installation process.
I tried it a few months ago and it was a success. The document was still on another linked page. And I have not done anything else.

Process record：
[code]
I tried to open another terminal and started the turtle simulation node, but there was no response and no error message.

[code

[2019-02-21 17:00] #10 closed

[2019-02-22 21:38] TVarkey opened #78 "[spawn_urdf-4] process has died"
**Describe the bug**

log file: C:\Users\NAME\.ros\log\3523f36e-36e5-11e9-a3db-106530272d8c\gazebo_gui-3*.log
[ERROR] [1550869401.276000, 6.017000]: Spawn service failed. Exiting.
[gazebo-2] process has finished cleanly
log file: C:\Users\NAME\.ros\log\3523f36e-36e5-11e9-a3db-106530272d8c\gazebo-2*.log
[spawn_urdf-4] process has died [pid 19968, exit code 1, cmd python c:\opt\ros\melodic\x64\lib\g

[2019-02-22 21:53] seanyen-msft commented on #78
@TVarkey Thanks for reporting the issues! I noticed `http://myhostname:51198/` was used for the connection. Are you trying to communicate the nodes across different machines? Have you tried to play with (or turn off) the firewall to see if it helps with the error of `the target machine actively refused it`.

[2019-02-22 22:38] TVarkey commented on #78
@seanyen-msft I am just following instructions in the link provided in the "To Reproduce" and I don't believe there are any communications across machines. Since I am not communicating across machines, is there a way around without turning off the firewall? Thank you.

[2019-02-22 23:35] seanyen-msft commented on #78
@TVarkey can you try to run the following under a command prompt with admin privilege? (It is for debugging purpose only. It's not recommended to permanently switch off the firewall.)

[code]

[2019-02-22 23:36] seanyen-msft commented on #74
Confirmed it is no longer needed. Closed it.

[2019-02-22 23:36] #74 closed

[2019-02-22 23:45] TVarkey commented on #78
@seanyen-msft I ran that command and I am still seeing the same issue
Also, want to point out that, I have not seen any of the gazebo logs such as the gazebo-2*.log, so far

log file: C:\Users\UserName\.ros\log\b2f734a1-36fa-11e9-87b2-106530272d8c\gazebo-2*.log
[spawn_urdf-4] process has died [pid 10676, exit code 1, cmd python c:\opt\ros\melodic\x64\lib\gazebo_ros\spawn_model -urdf -model turtleb

[2019-02-23 06:27] ooeygui commented on #78
Could you attach master.log from C:\Users\UserName.ros\log\*runid*?

[2019-02-23 19:28] TVarkey commented on #78
[master.log](https://github.com/ms-iot/ROSOnWindows/files/2897180/master.log)

[2019-02-23 19:30] TVarkey commented on #78
@ooeygui See attached log. Sorry... Did not mean to close. Thanks for your help.

[2019-02-25 23:14] TVarkey commented on #78
@seanyen-msft Anything else required from me? Please let me know. Thanks, Thomas

[2019-02-27 09:53] kejxu opened #80 "multiple files named <name> in package <package>"
**Describe the bug**
A clear and concise description of what the bug is.

when trying to run `roslaunch turtlebot3_bringup turtlebot3_model.launch`, an error like this would occur:
[code]

**To Reproduce**
Steps to reproduce the behavior:
* Catkin workspace setup instructions
  * Clone locations
  * build command line
  * Launch command line

source build `turtlebot3` and execute `roslaunch turtle

[2019-02-27 10:05] seanyen-msft commented on #80
Did this still happen even with this fix? https://github.com/ms-iot/ros/pull/23

[2019-02-27 10:05] kejxu commented on #80
this is due to a bug in [ros_environment/env-hooks/1.ros_package_path.bat.em](https://github.com/ros/ros_environment/blob/melodic/env-hooks/1.ros_package_path.bat.em)

`os.path.normcase` would change `C:\` to `c:\` causing error later during string comparison in `rospkg` since case sensitive comparison will be used

this is already fixed for ms-iot build with https://github.com/ms-iot/ros_environm

[2019-02-27 10:16] kejxu commented on #80
no, https://github.com/ms-iot/ros/pull/23 would help work around this problem in `roslib\packages.py`. reason why I'm reworking this change:
- trying to minimize adding any (new) usage of `os.path.normpath(os.path.normcase())`, this kind of changes are expected to get noticeable resistance from ROS before they get convinced to update all path comparisons
- similar error could happen when a path fr

[2019-02-27 10:25] #80 closed

[2019-03-01 00:04] seanyen-msft commented on #76
Python wrappers are now folded into catkin so we no longer requires per repository changes. Thank @kejxu!
https://github.com/ms-iot/rqt_shell/pull/1
https://github.com/ms-iot/rqt_plot/pull/1
https://github.com/ms-iot/rqt_logger_level/pull/1
https://github.com/ms-iot/rqt_image_view/pull/1
https://github.com/ms-iot/rqt_graph/pull/1
https://github.com/ms-iot/rqt_dep/pull/1
https://github.com/ms-iot/r

[2019-03-01 00:05] #76 closed

[2019-03-04 19:30] kejxu commented on #77
just want to update on this thread, we are currently focusing on [upstreaming](https://github.com/ms-iot/ROSOnWindows/projects) our `ms-iot` payload to ROS mainline, as a result, everything else have to be de-prioritized.

I will revisit and try to reproduce this issue later this week, and update on this thread afterwards =)

[2019-03-04 21:23] traversaro commented on #47
Upstream Gazebo PR: https://bitbucket.org/osrf/gazebo/pull-requests/3079/in-windows-ignore-disabled-interfaces-in/diff .

[2019-03-06 10:54] imcardle opened #82 ""Entry Point Not Found" shows up when running Moveit Tutorials"
**Describe the bug**
I'm new to ROS and MoveIt! so I have been following the tutorials for Windows here:
[ROSOnWindows - MoveIt Tutorials](https://ms-iot.github.io/ROSOnWindows/Moveit/moveit_tutorials.html)

However, I'm running into problems with rViz not starting up properly (error message "Entry Point Not Found" when trying to call robot_state_publisher.exe).

Can anyone offer a workaround or s

[2019-03-06 18:39] seanyen-msft commented on #82
Thank @imcardle for reporting this. I am looking into that now.

[2019-03-06 19:20] seanyen-msft commented on #82
@imcardle I am not able to repro this issue on my end, So it would be nice you can provide some more info for me to troubleshoot:

* Console output of `roslaunch panda_moveit_config demo.launch -v`
* Console output of `choco list -lo`, which is to know what version you have.
* Archive for the logs under `C:\Users\<your username>\.ros\log`, which is to know more details what's happening.

Thanks!

[2019-03-06 23:37] TVarkey commented on #78
@seanyen-msft @ooeygui Do you need more information? If not, can you please remove the label for more-information-needed? If you need anything else from me, please let me know

[2019-03-07 08:34] imcardle commented on #82
@seanyen-msft Sure, I've edited the original post to add the requested diagnostics/logs.  Hope that helps!

[2019-03-07 09:20] seanyen-msft commented on #82
@imcardle Thanks! Can I also ask for your details OS information? Console output of `systeminfo | findstr /C:"OS"` would help.

And is there any outstanding windows updates? Sometimes it could cause this type of failure. Run `start ms-settings:windowsupdate` to check it out.

[2019-03-07 11:09] imcardle commented on #82
@seanyen-msft No problem - I've added the OS information to the environment details in the OP above, and I'm right up to date with the windows updates.

[2019-03-10 03:21] bbw2008927 commented on #49
Hi, ooeygui
Thanks for your help. problem solved.
You have to force standalone video card to render rviz. don't use intel HD 630 to render.
This is my config in nvidia panel:
![image](https://user-images.githubusercontent.com/30364915/54080241-6f802c80-4326-11e9-92dd-2f924bff7b75.png)
This is result in rviz:
![image](https://user-images.githubusercontent.com/30364915/54080252-8d4d9180-4326-11e9-9a

[2019-03-10 05:46] seanyen-msft commented on #49
@bbw2008927 Good to hear that it is finally resolved! Close it per request.

[2019-03-10 05:46] #49 closed

[2019-03-11 00:17] NevilleKitala commented on #77
I would like to report the exact same issue seems to have occurred with me as well. I have read through his logs and errors and they seem similar to mine. I am curious if there might be a solution yet.

[2019-03-11 08:15] WangZP10969 commented on #77
The effect of running on my computer is this, there is no solution yet. I have been busy with something else recently. After a while I will try to use other computers to test if there will be similar problems.

[2019-03-13 22:16] seanyen opened #83 "Devspace package path should be ordered first in ROS_PACKAGE_PATH"
**Describe the bug**
After you source `devel_isolated\setup.bat`, all the develop space search path should be coming first in `%ROS_PACKAGE_PATH%`.

**To Reproduce**
Steps to reproduce the behavior:
- create a catkin workspace.
- `catkin_make_isolated`.
- run `devel_isolated\setup.bat`.
- run `set ROS_PACKAGE_PATH`.

**Expected behavior**
I expect the installation path should come last in the list

[2019-03-14 00:33] seanyen opened #84 "CMake Error when using Colcon to build ROS1"
**Describe the bug**
Installing https://colcon.readthedocs.io/en/released/user/quick-start.html and use colcon to build catkin workspace.

**To Reproduce**
- create a catkin workspace.
- run `colcon build --merge-install --event-handlers console_cohesion+ --install-base "C:\opt\ros\melodic\x64"`

**Expected behavior**
It should build, but I hit this CMake error:
[code]

[2019-03-14 06:42] WangZP10969 commented on #77
I tried it again today and the results are consistent with the previous ones.
Throughout the installation process, I am skeptical about the steps to manually install Python. The installation instructions do not mention the way Python is installed.
If you don't install Python, you can't execute bat, and the Python installation location in bat is also a fixed path.
This makes me think if it need a s

[2019-03-14 07:34] seanyen commented on #77
@WangZP10969

In ROS on Windows, we installed a specific Python runtime (c:\opt\python27amd64) for your ROS setup. You can find the package to learn more: https://roswin.azurewebsites.net/packages/ros-python2/

started core service [/rosout]
�[31m[rosout-1] process has died [pid 10996, exit code -1073741515, cmd c:\opt\ros\melodic\x64\lib\rosout\rosout.exe __name:=rosout __log:=C:\Users\XASY-PC\.r

[2019-03-14 08:21] WangZP10969 commented on #77
Thank you for your help.
I am trying to run rosout.exe directly, prompting the missing rosconsole.dll, roscpp.dll, roscpp_serialzation.dll, rostime.dll.
Is it because I forgot to install something?

[2019-03-14 08:34] seanyen commented on #77
@WangZP10969 Those should be under `C:\opt\ros\melodic\x64\bin` and this path should be added to `%PATH%` after `setup.bat` invokes. Did you find those DLLs (`rosconsole.dll`, `roscpp.dll`, `roscpp_serialzation.dll`, `rostime.dll`) there? They should come as `ros-melodic-xyz` installed.

FYI, here is my `%PATH%` after `setup.bat` is called: `PATH=C:/opt/ros/melodic/x64\bin;C:/opt/ros/melodic/x64\l

[2019-03-14 08:47] WangZP10969 commented on #77
@seanyen
I found those dlls in the bin directory, then the environment variables after I run bat are as follows

PATH=C:/opt/ros/melodic/x64\bin;C:/opt/ros/melodic/x64\lib;C:\opt\python27amd64\;C:\opt\python27amd64\Scripts;

[2019-03-14 08:52] seanyen commented on #77
@WangZP10969

What if you patch `%PATH%`? Run this after `setup.bat`: (Assuming `c:\opt\rosdeps\x64` exists.)
[code]

Then run `roscore` again?

[2019-03-14 09:01] WangZP10969 commented on #77
@seanyen

Actually there is no C:/opt/rosdeps in my directory.
Only /ros and /python27amd64 in the opt directory

After I set it up, run the path as follows:
PATH=C:/opt/ros/melodic/x64\bin;C:/opt/ros/melodic/x64\lib;C:/opt/rosdeps/x64\bin;C:/opt/rosdeps/x64\lib; C:\opt\python27amd64\;C:\opt\python27amd64\Scripts;C:/opt/ros/melodic/x64\bin;C:/opt/ros/melodic/x64\lib;C:\opt\python27amd64\ ;C:\opt\p

[2019-03-14 09:13] seanyen commented on #77
@WangZP10969
I guessed something went wrong when the previous install ran `rosdep`.

To manually recover that, after `setup.bat`, can you do:
[code]

It is going to pull large amount of files so please be patient. After it finishes, you should find lots of files downloaded to `c:\opt\rosdeps\x64`.

[2019-03-14 16:06] imcardle commented on #82
Hi @seanyen - have you any update on this issue?  In the meantime, I tried to get the tutorial running on a Linux virtual machine - but have run into another issue at the exact same point in the process!  I'm wondering if, although the symptoms are different, maybe the cause is the same?  You might like to take a look at it, just in case:
[https://github.com/ros-planning/moveit_tutorials/issues/29

[2019-03-15 01:16] WangZP10969 commented on #77
@seanyen
First of all, thank you very much for your help.

Yesterday I tried to install rosdep, but there may be some unsuccessful ones that caused the situation to not improve.

I think it may be affected by a lot of things in the current environment, so I will test the full process in a clean environment in the virtual machine.

The process is as follows:
1. First install Ros-Python. There is a

[2019-03-15 20:23] johnwason opened #85 "RViz MoveIt plugins not working for melodic on Windows 10"
**Describe the bug**

Adding a "Motion Planning" plugin in RViz fails with the error:

[code]

**To Reproduce**

rosrun rviz rviz

Click Add -> Motion Planning

**Expected behavior**
RVis should load the plugin without error.

**Environment information:**
 - OS version: Windows 1803
 - Chocolatey Versions: ros-melodic-moveit 20190314.1

[2019-03-18 03:08] ooeygui opened #86 "image_transport_plugins missing from ros-melodic-desktop"
Some sensor drivers require image_transport_plugins in order to transmit data. For example, realsense2 requires this plugin.

Please add https://github.com/ms-iot/image_transport_plugins to ros-melodic-desktop

[2019-03-19 02:41] WangZP10969 commented on #77
I think the reason I found the problem is because I couldn't install ros completely. After using the tutorial, the ros is installed very fast, but obviously there are a lot of things missing, at least the rosdeps folder is not installed.
The installation record is as follows, no error message is prompted
What is the reason for this happening?

[code]

[2019-03-24 05:45] seanyen commented on #86
It now should be part of the `ros-melodic-desktop` choco package. Please try it out and let me know any issues.

[2019-03-24 05:45] #86 closed

[2019-03-24 05:48] seanyen commented on #85
@johnwason Thank for reporting! Can you try `choco upgrade ros-melodic-moveit -y` to get the latest bits and see if it worked? A recent broken merge on https://github.com/ms-iot/moveit seems to be the cause and it should be fixed now.

[2019-03-24 07:05] seanyen commented on #48
@traversaro Sorry for the delay on this.

It seems to me that [`gazebo-config.cmake`](https://bitbucket.org/osrf/gazebo/src/cfb74cf0e6bd1979f68da00480e5e2e77aff00be/cmake/gazebo-config.cmake.in#lines-175) is quite sensitive to what CMake files in current search path. For example, depending on `FindOgre.cmake` or `OgreConfig.cmake` is used, `OGRE_xxx_INCLUDE_DIRS` or `OGRE-xxx_INCLUDE_DIRS` is defi

[2019-03-24 11:55] bbw2008927 opened #87 "link error about libpcl"
**Describe the bug**
When compiling node which contain PCL library. Error report as below.
error LNK2019: can't resolve extern symbol "__declspec(dllimport) class boost::system::error_category con
st & __cdecl boost::system::detail::generic_category_ncx(void)" (__imp_?generic_category_ncx@detail@system@boost@@YAAEBVerror_category@23@XZ)，This symbol is referred in  "public: __cdecl boost::thread_ex

[2019-03-24 11:56] bbw2008927 commented on #87
[pcl_node.zip](https://github.com/ms-iot/ROSOnWindows/files/3000348/pcl_node.zip)

[2019-03-24 15:49] seanyen commented on #87
@bbw2008927

After some tweak on your CMakeLists.txt, I can compile your program. Here is my catkin_make log: https://gist.github.com/seanyen/9cdf2c9ab7913c1d77542cca9c2c3f92

(I modified the line 17 to `find_package(PCL 1.8 REQUIRED COMPONENTS common)`, otherwise it complains VTK not found, which is something not in our Chocolatey server.)

Can you compare my logs to yours? Particularly the follo

[2019-03-24 16:57] ooeygui commented on #83
Thank you! This is exactly what I was just debugging :-)
This also repros when debugging a single package.

Step to reproduce:

*  Create a new catkin workspace: c:\ws\a
* git clone -b init_windows https://github.com/ms-iot/image_pipeline
* catkin_make
* devel\setup.bat

Observed:
rospack list | findstr depth_image_proc
depth_image_proc C:\opt\ros\melodic\x64\share\depth_image_proc

Expected:
rosp

[2019-03-24 22:46] alecGraves commented on #85
Most recent version is working for me. Thanks @seanyen

[2019-03-24 23:22] alecGraves opened #88 "[MoveIt] UR3 build fails due to missing chainiksolver_pos_nr_jl_mimic.hpp"
**Describe the bug**
Compiling universal_robot package fails because of missing moveit .hpp

[code]

<details><summary> (click here) Full build log: </summary>
<p>

[code]

</p>
</details>

**To Reproduce**
From the [UR3 Moveit tutorial](https://github.com/ms-iot/ROSOnWindows/blob/99251583b5aab2077b142ecdd3cfdec373d0d2bb/Moveit/UR3.md):

[code]
[code]

**Expected behavior**
The build succeeds

**E

[2019-03-25 00:18] seanyen commented on #88
@alecGraves Most likely it is caused by this recent [change](https://github.com/ros-industrial/universal_robot/commit/1f2a2b54c40c4bcadefb5f2f9ce52fc6cf1dc36a) not being rebased into https://github.com/ms-iot/universal_robot.

Can you try to remove those non-existent headers to see if it go through?

[2019-03-25 01:46] johnwason commented on #85
Thanks @seanyen, that seems to have fixed the loading problem.

[2019-03-25 01:59] alecGraves commented on #88
Yep, that fixed it. Thanks!

[2019-03-25 02:24] seanyen commented on #85
I closed it since it is fixed.

[2019-03-25 02:24] #85 closed

[2019-03-25 02:30] seanyen commented on #48
Adding conversation link in Gazebo side. https://bitbucket.org/osrf/gazebo/pull-requests/3090/

[2019-03-26 04:11] bbw2008927 commented on #87
Hi seanyen
Yes, you are right. VTK isn't in libpcl get from choco.
And Cmake find VTK from my vcpkg folder. If I only use conponent of common, I can compile without error.
But there are other issue.
1. When I try to run choco uninstall libpcl, choco will delete all the thing in the C:\opt\rosdeps\x64\include. It make me to uninstall all the package of choco.
2. After choco upgrade ros-melodic-desk

[2019-03-27 17:30] ooeygui commented on #78
Sorry for the delay - I'm investigating this.

[2019-03-27 17:31] ooeygui commented on #78
Typically when we see:

```An existing connection was forcibly closed by the remote host```

It is due to the Firewall blocking access to the ROS process. Can you verify that the firewall rules allow that ROS process?

[2019-03-27 18:21] seanyen opened #90 "[Gazebo] Not able to insert the models from online server."
If you are trying to insert model from online model database, it will fail because some not-yet-being-ported code path on Windows build. The details is tracked in the following issue: https://bitbucket.org/osrf/gazebo/issues/2611

[2019-03-27 21:03] seanyen opened #91 "catkin_make failing, looking for argparse"
### Problem

A recent release of [catkin_pkg](https://pypi.org/project/catkin-pkg/#history) comes with a [change](https://github.com/ros-infrastructure/catkin_pkg/pull/247) to remove `argparse` from the requirement list from `catkin_pkg`.

And this delta (compared to the ms-iot version) causes symptoms like `argparse` not found: http://answers.ros.org/question/319726/catkin_make-failing-looking-fo

[2019-03-28 12:35] bakerhillpins commented on #91
The above quoted command to force the reinstall did not work in my situation. The version is/was apparently the most recent already:
[code]

I see that changes have been made and merged into the referenced issue in rosdistro so I suspect that I'm here before it's available?

[2019-03-28 15:27] seanyen commented on #91
@bakerhillpins What's your error when you run catkin_make or rosdep? One other workaround is to `pip install -U argparse` to get around the problem.

[2019-03-28 15:48] bakerhillpins commented on #91
@seanyen Ok, so I went back and tried this again and then noticed I made the same mistake you did in the title, I put argSparse back into requires.txt before I tried your suggestion. So i corrected that and executed the catkin_make again.

It's now reporting the dependency PY_em missing: (I will go back to my issue on ROS Answers and update with this info as well.)

[code]

[edit - you update just

[2019-03-28 15:56] seanyen commented on #91
@bakerhillpins

Good to hear that you found out the `argparse` typo thing. Btw, do you mind to share what's the `requires.txt` file location you touched?

For the problem of missing `empy`, it is most likely also caused by this `argparse` issue, which prevents `rosdep` to run correctly before. (I suspect there are lots of system dependencies not yet deployed to your machine too, `empy` is just one

[2019-03-28 16:03] bakerhillpins commented on #91
@seanyen requires.txt location is as follows:
C:\opt\python27amd64\Lib\site-packages\catkin_pkg-0.4.8-py2.7.egg-info

I just ran the following.
[code]
The output of this upgrade is SUBSTANTIALLY different/longer from my initial install which I recorded previously. However, The version number, v20190325., hasn't changed.

[2019-03-28 16:20] seanyen commented on #91
@bakerhillpins Yes, and please be patient if it takes SUBSTANTIALLY longer time to finish. It sounds like `rosdep` is working on getting everything you need for ROS node development. Let me know how it goes.

[2019-03-28 16:48] bakerhillpins commented on #91
@seanyen Well something happened during the time I stepped away from my desk and a network disturbance caused a fatal error:

[code]
I'll retry the command and hopefully we don't have the same problem.

[2019-03-28 17:55] bakerhillpins commented on #91
@seanyen  Score!  catkin_make was successful after the `choco upgrade -y --force ros-melodic-desktop` command executed successfully.

Thanks for your help! I'll update the ROS Answers question.

Can you help me understand what I may have missed with the initial depoy of ROS on Windows. I explicitly followed the instructions [here](https://ms-iot.github.io/ROSOnWindows/GettingStarted/Setup.html).

[2019-03-28 19:53] ooeygui commented on #91
Thank you for reporting this and working through the issue with us.
During ros-melodic-desktop install python scripts are pulled in from pip. There was a change we didn't have a match for in our distribution. Since we have upstreamed our work in that component, we were able to snap to the mainline.

Because chocolatey caches the files, --force was needed to purge the cache.

The only difference be

[2019-03-29 11:39] bakerhillpins commented on #91
@ooeygui  NP.  As I was going to pull down gazebo and moveit eventually that's a plus. Appreciate the quick attention and support.

[2019-03-29 17:50] bakerhillpins opened #92 "roscd not working, missing findpath.py"
**Describe the bug**
Working my way through the ROS [tutorials](http://wiki.ros.org/ROS/Tutorials/NavigatingTheFilesystem) for navigating the filesystem. roscd command returns:

[code]

**To Reproduce**
Open a command prompt and try the following command - `roscd roscpp`

**Expected behavior**
should have changed to the roscpp package directory

**Environment information:**
 - OS version: `1803`
I

[2019-03-29 17:58] bakerhillpins commented on #92
Apparently my search foo isn't working well for me today:
#11

[2019-03-29 20:55] kejxu commented on #92
Thanks for trying ROS on Windows out and reporting this issue! My apologies for this nuisance! While upstreaming our changes to ROS mainline, the script was renamed yet the renaming was not done correctly.

[A fix](https://github.com/ms-iot/ros/pull/27) has been made for our `ms-iot` repo, and that should become part of the binaries on 20190330. It should work by then =)

Meantime, we would be wor

[2019-03-29 20:56] #92 closed

[2019-03-30 02:02] alecGraves opened #93 "roslaunch_add_file_check(...) causes invalid file names containing ":""
**Describe the bug**
```roslaunch_add_file_check``` causes build errors due to making invalid filenames with ":"

Near the bottom of CMakeLists.txt of [ar_track_alvar](https://github.com/ros-perception/ar_track_alvar), this statement exists:
[code]

This command is causing build errors like:

[code]

Rebuilding also reveals the problem in catkin_ws/build/Makefile:
[code]
In catkin_ws/build/Makefil

[2019-03-30 14:30] bbw2008927 commented on #87
I use vcpkg to compile qhull static library and copy files into C:\opt\rosdeps\x64\lib.
And I still use ros-melodic-desktop 20190325.
I can compile pcl_ros application.

[2019-03-31 18:34] ooeygui opened #94 "Cannot build rosserial due to python installer"
**Steps to repro:**
[code]
**Result**
install TARGETS givn target "make_libraries.py_executable_install_python"

**Cause**
make_libraries.py exists in multiple directories.

**workaround**
echo > rosserial_XXX\CATKIN_IGNORE

Where XXX is what you don't want to build.

[2019-04-01 11:48] bakerhillpins commented on #92
NP. I updated to Version 20190331.1 and the commands are working now. Thanks!

[2019-04-02 14:41] bakerhillpins opened #95 "rostopic using deprecated API"
**Describe the bug**
using rostopic pub issues warning about using unsafe/deprecated API.

**To Reproduce**
Start up the TurtleSim tutorial,
Goto the [Understanding Topics tutorial](http://wiki.ros.org/ROS/Tutorials/UnderstandingTopics), pub section.
Execute the pub command with a 1hz rate and note the warning:

[code]

**Expected behavior**
no warning

**Environment information:**
ros-melodic-des

[2019-04-03 04:25] ooeygui commented on #95
Hi @bakerhillpins
Thanks for the report. I don't believe this problem is specific to Windows. Looking upstream it doesn't seem to be corrected.

[2019-04-03 04:26] ooeygui commented on #95
@kejxu We should remove the ros_comm repo since it has been upstreamed. When this is fixed in main, Windows will inherit the fix.

[2019-04-03 10:56] bakerhillpins commented on #95
Sorry about that. My project is specifically targeted at ROS for Windows so I was wondering when I would get to issues that were upstream related. Looks like I got there sooner than I expected. I'll look into getting a Docker container with a linux ROS node on it to compare to but that's probably not in the near term.
Thanks for your prompt attention.

[2019-04-03 16:12] seanyen commented on #95
https://github.com/ros/ros_comm/issues/1686 This is also recently reported to the upstream. Added it here for reference.

[2019-04-03 16:14] seanyen commented on #93
Thanks for the reporting! We will take a look soon.

[2019-04-03 18:33] kejxu commented on #95
Thanks for reporting this @bakerhillpins, and @ooeygui thanks for the reminder!

A part of the reason why we have not switched our build to point to `ros/ros_comm` is because `ms-iot/ros_comm` still has some test code changes. `ms-iot/ros_comm` will be deleted once there is no difference between our build and ros mainline.

[2019-04-03 19:17] maxsvetlik commented on #77
I've also run into this problem today and have come up with a workaround.
I was installing ROS on Windows as according to the installation instructions but facing the same issues as @WangZP10969.

After running `choco upgrade ros-melodic-desktop_full -y` choco would download and install the package, then output something along the lines to **`starting rosdeps...`** and immediately after, output **

[2019-04-04 01:17] WangZP10969 commented on #77
@maxsvetlik  Thank you very much for your reply, I will try your way.

[2019-04-04 19:14] alecGraves opened #96 "pcl_ros_tf.dll was not found"
**Describe the bug**
Node fails at runtime due to not finding pcl_ros_tf.dll (part of pcl_ros in perception_pcl).

This dll is located in ```C:\opt\ros\melodic\x64\lib\pcl_ros``` by default. Adding this folder to ```PATH``` (```SET PATH=%PATH%;C:\opt\ros\melodic\x64\lib\pcl_ros\```) or copying the dll to a folder in ```PATH``` resolves the issue.

IDK how the library is supposed to be found. Is th

[2019-04-05 16:06] seanyen commented on #96
@alecGraves Thanks for your reporting!

Looks like this part would needs some modification to correctly install the binaries on Windows build. I will send out the PR soon.
https://github.com/ros-perception/perception_pcl/blob/melodic-devel/pcl_ros/CMakeLists.txt#L226-L242

[2019-04-06 16:26] ooeygui opened #97 "Fit and Finish: Remove unsupported escapes [31m[ERROR]"
As a fit and finish, remove unsupported ansi escape characters, since Windows consoles typically don't support them.

[2019-04-06 16:31] ooeygui commented on #97
Although we should still allow escapes to be enabled for consoles which do support it.

[2019-04-07 04:00] arwtyxouymz opened #98 "ROSOnWindows does not work well in VS code"
I'm a newer of ROSOnWindows and Windows Development and I'm sorry if I asked easy questions.

I have two questions about development in VS code.

# ROS for VSCode Plugin does not work
I'm going to use [ROS for VSCode Plugin](https://marketplace.visualstudio.com/items?itemName=ajshort.ros) which you recommended in [here](https://ms-iot.github.io/ROSOnWindows/GettingStarted/UsingROSonWindows.html),

[2019-04-07 18:42] ooeygui commented on #98
Hi @arwtyxouymz ,
Thanks for the report.
We're working on updating this plugin to work with Windows. The original author of the plugin has transfered the project to microsoft for ongoing maintanance, and we're working on the logistics of getting it published.

For now, using the command line is the best option.

I'm finalizing some videos which we will post to our youtube channel showing the basic

[2019-04-08 23:04] seanyen opened #99 "[image_view] Right-click to save images causes the program hang."
**Describe the bug**
Follow this to run image_view and try right-click to save image: http://wiki.ros.org/image_view

**Expected behavior**
Images should be saved, but it turned out you will see program hang.

[2019-04-09 06:45] JackRen88 opened #100 "Can gsk_recogniztion_msgs be installed in ros for Windows?"
Hello.
I run choco install ros-mentric-gsk-recogniztion-msgs to install gsk_recogniztion_msgs,there is a problem that the package is not included in source list. How should I install the package?

[2019-04-09 07:03] seanyen commented on #100
@JackRen88  Thanks for your interest in this project! Currently we are releasing daily builds for common ROS variants (http://www.ros.org/reps/rep-0150.html). For additional stacks, I would suggest to start from `choco install ros-melodic-desktop_full` (https://ms-iot.github.io/ROSOnWindows/GettingStarted/Setup.html)  and try to make Windows ports for the extra packages.

[2019-04-09 18:08] kejxu commented on #94
this duplicate-macro issue was hit because `catkin_make` treats all packages in the workspace [like a single project](https://answers.ros.org/question/320613/catkin_make-vs-catkin_make_isolated-which-is-preferred/)

I will check if the macros could be renamed, that seems like the easiest way to resolve this

[2019-04-09 18:22] kejxu commented on #94
thanks for pointing this out! We are still considering a fix for this change because `catkin_make` would work in this case before this [Windows-specific change](https://github.com/ros/catkin/commit/a4e2b7c0a44d68f8a0054e091c0c0755aa63398b), making this issue seemingly a regression; meantime, I think it could/might be a pretty simple fix.

as suggested in the linked question (thanks a lot for answe

[2019-04-09 18:32] gavanderhoorn commented on #94
I think it was @dirk-thomas who answered that specific question though.

[2019-04-10 14:01] bakerhillpins commented on #78
So I'm seeing the same problems here but tied to [spawn_urdf-3]. I've attached the log files.

`[ INFO] [1554903509.360539600]: Finished loading Gazebo ROS API Plugin.
[ INFO] [1554903509.375889100]: waitForService: Service [/gazebo_gui/set_physics_properties] has not been advertised, waiting...
[ INFO] [1554903509.652757200]: Finished loading Gazebo ROS API Plugin.
[ INFO] [1554903509.658113500]:

[2019-04-10 15:19] Pyrokine opened #101 "[navigation][map_server] catkin build: missing libgen.h"
when catkin the package, cmd shows that it lacks libgen.h.

[2019-04-10 16:24] seanyen commented on #101
@Pyrokine what package are you trying to build?

[2019-04-11 04:21] Pyrokine commented on #101
move_server package in the navigation package

[2019-04-11 08:37] Pyrokine commented on #101
I comment the wrong name. It's map_server

[2019-04-11 15:11] bakerhillpins commented on #78
For what it's worth: I thought I'd spend some time on this. I'll come back and edit this if I find anything interesting as I go rather than a stream of comments.

I thought I'd start by trying to manually relaunch the spawn_urdf node after the error occurred so I dug through the launch file and the log file to find/validate the command line which I determined to be:
`rosrun gazebo_ros spawn_model

[2019-04-11 16:46] seanyen commented on #78
@bakerhillpins Thanks for the diagnostics! `/gazebo/spawn_urdf_model` is advertised by `gazebo_ros_api_plugin` from `gazebo_ros`. Maybe you can enable `DEBUG` level messages from `gazebo_ros`?

Also since the plugin is loaded by Gazebo, logs under `c:\Users\<account name>\.gazebo\` might be worth to check as well.

[2019-04-11 23:06] seanyen commented on #101
Hi @Pyrokine, can you share more information where you checkout the source code for `navigation` packages and the steps you took to build?

JFYI, as of today, the Windows build `navigation` code is in `ms-iot` fork: https://github.com/ms-iot/navigation/tree/init_windows, and the upstream repository doesn't have the ported changes yet (but the PRs are out, awaiting feedback.)

[2019-04-12 12:07] bakerhillpins commented on #78
@seanyen I've not tried enabling DEBUG yet. I'll put it on my list.

I looked in the gazebo logs and found 2 things I thought I'd mention.
1st, the log has an error looking for the autorace model.config. Seems odd since the tutorial is referencing the cartographer demo which, as I understand it, uses the Turtlebot World with the Waffle device. There is no config file in that directory, but there a

[2019-04-12 15:39] alecGraves opened #102 "_tf2.pyd was replaced with tf2.lib, causes error"
**Describe the bug**
C:\opt\ros\melodic\x64\lib\site-packages\tf2_py needs a file "_tf2.pyd", but in recent choco upgrade, "tf2.lib" is copied into this folder instead.

traceback:

[code]

**To Reproduce**
[code]

**Expected behavior**
"_tf2.pyd" is found in folder C:\opt\ros\melodic\x64\lib\site-packages\tf2_py

**Environment information:**
 - OS version: 1809 (OS Build 17763.437)
 - Chocolatey

[2019-04-12 15:58] seanyen commented on #102
@alecGraves Thanks for the reporting! I will take a look what's going wrong soon.

[2019-04-12 17:45] Pyrokine commented on #101
Thanks a lot. I built the original package from ros-planning/navigation. I found those package you forked from ros and it works.

[2019-04-12 17:45] #101 closed

[2019-04-12 17:49] bakerhillpins commented on #78
When I manually execute the gazebo client it seems to crash and exit every time leaving an error in the Windows Application Event log. (remove the .log extension)
[gzclientError.evtx.log](https://github.com/ms-iot/ROSOnWindows/files/3074511/gzclientError.evtx.log)

Looking back through the log this error has occurred each time I've executed the client.

[2019-04-12 20:05] sgolodetz opened #103 "[roscore] The code execution cannot proceed because DLLs not found"
After following the standard installation instructions, I've been trying to run `roscore`, but I get the following errors when it gets to starting `/rosout`:

Please do you know how I should go about installing the Boost 1.66/Apache log4cxx dependencies? I was hoping they would be installed by `rosdep`, but it doesn't seem to have worked. I'm loath to build them manually and copy across the releva

[2019-04-13 11:08] JackRen88 opened #104 "There is a error for running gazebo on windows10 ros."
When running `roslaunch gazebo_ros empty_world.launch` on windows ros, there is a error that is that because of not finding jpeg62.dll,can't continue to execute code.How should I solved it?

[2019-04-13 23:22] ancabilloni commented on #104
I ran into this issue as well. Found out there was a package was not installed correctly which is listed in  `C:\ProgramData\chocolatey\lib-bad`. This one https://chocolatey.org/packages/libjpeg-turbo , after choco install it, the issue was resolved.

It also has something to do with ros update version to me. When I was using the update version in March, I did not have this issue. After uninstall

[2019-04-15 02:15] JackRen88 commented on #104
@ancabilloni .
Thanks!

[2019-04-15 16:18] seanyen commented on #104
@JackRen88 Thank for reporting this issue!

@ancabilloni Just curious, do you still keep the logs to show why it was listed in `lib-bad`? That may help for future improvement.

[2019-04-16 20:00] ancabilloni commented on #104
@seanyen i did not find any log on terminal indicating to the error. When trying to run gazebo, a windows just popped up saying jpeg62.dll not found and ask to re-install to resolve, nothing else. Finding the relevant package to reinstall on `lib-bad` was pure luck as I search around for relevant jpeg package. If you can instruct any log file I should look at to detect on the problem, I can send t

[2019-04-17 15:45] bakerhillpins opened #105 "build errors with moveit_tutorials"
**Describe the bug**
I have been following the windows tutorial for move it:
[ROSOnWindows - MoveIt Tutorials](https://ms-iot.github.io/ROSOnWindows/Moveit/moveit_tutorials.html)
During the catkin_make process the following build error occurs on several different elements:

C:\Users\xx\catkin_ws\src\moveitTutorials\src\moveit_tutorials\doc\robot_model_and_robot_state\src\robot_model_and_robot_stat

[2019-04-17 15:58] bakerhillpins commented on #105
The problem above boils down to a previously solved issue in the upstream [ros-planning/moveit_tutorials](https://github.com/ros-planning/moveit_tutorials) project. Specifically, replacing all occurrences of `Affine3d `with `Isometry3d`

See upstream pull request:
https://github.com/ros-planning/moveit_tutorials/pull/255

I've made my changes locally and have successfully executed the tutorial as

[2019-04-18 13:14] JackRen88 opened #106 "invalid mode ('r') or filename:"
Hello,everyone.
When I start a launch file(<param command="$(find xacro)/xacro  '$(find car_model)/robots/Car.xacro'" name="robot_description"/> is included),there is a issue that
`invalid mode ('r') or filename: 'C:\catkin_ws\src\car_model\robots\Car.xacro'
RLException: Invalid <param> tag: Cannot load command parameter [robot_description]: command [C:/opt/ros/melodic/x64\lib\xacro\xacro.exe  'C:

[2019-04-18 18:05] ooeygui opened #107 "choco upgrade ros-melodic-desktop_full can timeout and fail to install"
During the installation of ros-melodic-desktop_full, the rosdep install can timeout causing chocolatey to report an install failure. Rerunning the command can succeed depending on how many rosdeps have been installed.

Attempt to add a timeout bypass inside the chocolatey package, otherwise update doc to add the chocolatey flag `--execution-timeout=0` to the recommended command line.

[2019-04-18 19:44] ooeygui commented on #107
[chocolatey.log](https://github.com/ms-iot/ROSOnWindows/files/3095935/chocolatey.log)

[2019-04-19 05:59] seanyen commented on #103
@sgolodetz Thank for reporting this issue. Do you have the output for your `rosdep`? Did it try to `choco install` packages from `https://roswin.azurewebsites.net/`?

[2019-04-19 06:02] seanyen commented on #106
@JackRen88 Thank for reporting the issue. Can you try to run `rosrun xacro xacro -vvv C:\catkin_ws\src\car_model\robots\Car.xacro` to see more verbose logs?

[2019-04-22 10:29] WangZP10969 commented on #77
@maxsvetlik I try this way to clear the all of the ros, and set choco timeout very long, its worded normals
I think the problem was the install it not complete.
Thank all of you very much!

[2019-04-22 10:29] #77 closed

[2019-04-22 17:51] kejxu commented on #77
Thanks for trying it out and sharing the outcome =)

[2019-04-22 22:05] ooeygui opened #108 "Improve launch-prefix handling"
in a ROSLaunch file, the attribute launch-prefix is used for a variety of things, including launching nodes in a new console and debugging.

On Windows, to open a new console window, you use the cmd.exe intrinsic `start`. calling this seems to strip the command line arguments.

[2019-04-23 06:14] gavanderhoorn commented on #108
Keeping things connected: [What is the Windows equivalent of launch-prefix="xterm -e" for launch files?](https://answers.ros.org/question/321596) on ROS Answers.

[2019-04-23 13:44] bakerhillpins commented on #105
I'm willing to try to help put together a pull request for this but I'd like to understand what project/branches I should be working against.

[2019-04-27 07:24] budongyue commented on #103
I also meet this problem.What I should do can make it ok?Thanks.

[2019-04-27 07:34] budongyue opened #109 "roscore stop because some .dlls not found."
1when I meet errors,it says that I don't have "defusedxml".So,I install it by using "pip install defusedxml"
2 After following the standard installation instructions, I've been trying to run roscore, but I get the following errors when it gets to starting /rosout:
The code execution cannot proceed because {boost_date_time-vc141-mt-x64-1_66.dll/boost_regex-vc141-mt-x64-1_66.dll/boost_system-vc141-m

[2019-04-27 07:54] sgolodetz commented on #103
Thanks for the response @seanyen, and sorry for the delay - I'll get the rosdep output off my work laptop next week when I'm back in the office and post it.

[2019-04-27 12:42] budongyue opened #110 "[ros-python2] ERROR: The term `cmd` is not recognized as the name of a comlet..."
![%@FUKL)E}2@W)5I5S(JU Y3](https://user-images.githubusercontent.com/45566469/56849855-be147500-692c-11e9-82ec-900e42c5dc22.png)

[2019-04-27 14:41] gavanderhoorn commented on #110
Appears to be a cross-post of [Error while running 'C:\ProgramData\chocolatey\lib\ros-python2\tools\chocolateyinstall.ps1'](https://answers.ros.org/question/322035) on ROS Answers.

[2019-04-27 17:56] seanyen commented on #110
@budongyue can you do `set ComSpec` and `where cmd` to see if `cmd.exe` visible in your command prompt? Usually it exists at `c:\windows\syetem32\cmd.exe`.

[2019-04-28 01:19] ooeygui commented on #110
Investigating.

[2019-04-28 01:27] ooeygui commented on #110
@seanyen We should use the %comspec% variable in the install scripts in case the path isn't set correctly.

[2019-04-28 14:35] ooeygui commented on #110
Confirmed that this is environment specific. It does not repro on clean installs or upgrades.

[2019-04-28 16:09] ooeygui opened #111 "`rosclean purge` failing on Windows"
I haven't debugged this yet, but rosclean purge is failing. When I manually rd /s /q it works.
`rosclean purge
Purging ROS node logs.
PLEASE BE CAREFUL TO VERIFY THE COMMAND BELOW!
Okay to perform:

rm -rf C:\Users\Robot\.ros\log
(y/n)?
y
FAILED to execute command
`

[2019-04-29 18:43] ooeygui opened #112 "Feature: Reduce Chocolatey overhead"
Chocolatey holds onto the compressed nuget package as well as the expended nuget package for a chocolatey package. For ROS, these are very large and duplicated multiple times.

It can also take a significant amount of time to install all dependencies.

This work item is two fold:
1) Reduce the nuget package to just a descriptor, which on install pulls in the drop file from the Azure DevOps release

[2019-04-30 01:00] budongyue commented on #110
@seanyen Yes,I can see the cmd after do set ComSpec and where cmd

[2019-04-30 03:54] seanyen opened #113 "[ros-catkin-tools] fatal: unable to access 'C:\Users\???/.config/git/config': Invalid argument"
When users run `choco install ros-melodic-desktop_full -y` under a user profile which contains non-ascii characters, it could fail at the following error:

[code]

UPDATE:
In this case, please make sure the system locale changed to the corresponding code page to the non-acsii characters, so non-Unicode programs can handle those characters correctly.

For example, you can run `Set-WinSystemLocale -

[2019-04-30 08:01] seanyen commented on #110
@budongyue Thanks for the confirm. I have updated the `ros-python2` package to use `%ComSpec%` to run batch scripts. Can you run again `choco upgrade ros-python2 -y` to see if you still see the error?

[2019-04-30 16:06] #113 closed

[2019-04-30 16:14] seanyen commented on #109
@budongyue According to #110, it seems that `rosdep` failed to be deployed in your environment, therefore the ROS installation cannot pull down those 3rd party binaries automatically. Once #110 is resolved, I would recommend to run `choco upgrade ros-melodic-desktop_full -y --force` again to trigger `rosdep` to run.

For now I will close this issue, and we can reopen it if resolving #110 doesn't h

[2019-04-30 16:14] #109 closed

[2019-05-04 07:40] budongyue opened #116 "How do I use the VS in RosOnWindow"
I want to know the method of using VS in RosOnWindows. I want to know how to edit and compile the code by using VS and add the code compiled by VS to ROS. Thanks very much.

[2019-05-04 09:29] gavanderhoorn commented on #116
Cross-post of [How do I use the VS in RosOnWindows](https://answers.ros.org/question/322449) on ROS Answers.

[2019-05-08 07:53] budongyue opened #117 "When I use cartographer on gazebo,there are some problems."
I use the tutorials：https://ms-iot.github.io/ROSOnWindows/Turtlebot/Turtlebot3.html
When I use cartographer on gazebo,I use "roslaunch turtlebot3_gazebo turtlebot3_gazebo_cartographer_demo.launch"
But I get some problems:
[ INFO] [1557301488.083588696, 8.307000000]: Using plugin "inflation_layer"
[spawn_urdf-4] process has finished cleanly
log file: C:\Users\syx\.ros\log\117d7121-7165-11e9-bfb5-98

[2019-05-08 21:28] traversaro commented on #116
(Disclaimer: I am not related in any way to the ROSOnWindows project, so this is not an official answer).

I have successfully used the C++ libraries installed by ROSOnWindows's Chocolatey packages in a plain CMake project simply by running the `"C:\opt\ros\melodic\x64\setup.bat"` script in a terminal and then by launching CMake from that terminal. This was possible because the setup scripts sets

[2019-05-11 12:49] budongyue opened #118 "When I catkin_make the navigation's codes,there are some errores occured."
When I catkin_make the navigation's codes,there are some errores occured.
Now,I am trying to use the navigation's codes,but some errores comed.
The source is https://github.com/ms-iot/navigation.
I can't complie the code.I hope some persons can help me.Thanks very much.
<img width="873" alt="ros_error" src="https://user-images.githubusercontent.com/45566469/57569846-df498b00-742d-11e9-9852-e3f0d70

[2019-05-13 06:35] budongyue commented on #118
NMAKE : fatal error U1073: don't know how to create “gtest-NOTFOUND”
Stop.
NMAKE : fatal error U1077: “"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Tools\MSVC\14.16.27023\bin\HostX64\x64\nmake.exe"”: return code“0x2”
Stop.
NMAKE : fatal error U1077: “"C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Tools\MSVC\14.16.27023\bin\HostX64\x64\nmake.exe"”: return cod

[2019-05-16 14:54] ooeygui commented on #118
Hi there,
Did you run rosdep in the catkin directory?
rosdep update
rosdep install --from-paths src --ignore-src -r -y

[2019-05-16 15:07] ooeygui commented on #117
We had a bug with the dwa planner. We're working on moving it to public. For now, you can upgrade it using:
choco upgrade ros-melodic-desktop_full -y --pre

Then the DWA planner will be present.

[2019-05-16 15:07] #117 closed

[2019-05-17 18:14] ooeygui opened #119 "Rosdep: Suitesparse cannot be used as a rosdep"
Suitesparse is currently built by vcpkg which does not put cmake files into a location which is usable by ros nodes. The previous version is. If you require suitesparse, please downgrade until we can implement the correct fix.

`choco install suitesparse --version  1.4.0.20180908 --allow-downgrade`

[2019-05-17 18:18] ooeygui commented on #6
This is related to localhost

[2019-05-17 18:19] ooeygui commented on #8
The sync error is related to localhost

[2019-05-17 18:20] ooeygui commented on #88
Closing since fixed :-)

[2019-05-17 18:20] #88 closed

[2019-05-17 18:20] ooeygui commented on #91
Fixed.

[2019-05-17 18:20] #91 closed

[2019-05-17 18:21] #96 closed

[2019-05-17 18:22] ooeygui commented on #97
ConEmu, VCCode and the new Terminal support this; so it's a feature.

[2019-05-17 18:22] #97 closed

[2019-05-17 18:22] ooeygui commented on #98
We will be releasing an updated VSCode ROS extension shortly.

[2019-05-17 18:24] ooeygui commented on #100
Hello @JackRen88,
You can clone this repository into your workspace and build it as part of your project.

[2019-05-17 18:24] #100 closed

[2019-05-17 18:24] ooeygui commented on #103
Closing due to inactivity.

[2019-05-17 18:25] ooeygui commented on #110
Please reopen if this isn't fixed for you

[2019-05-17 18:25] #110 closed

[2019-05-17 18:27] ooeygui commented on #104
Closing as gazebo is working

[2019-05-17 18:27] #104 closed

[2019-05-17 18:28] ooeygui commented on #116
We are working on releasing a ROS vscode extension which supports windows. in the mean time, you can build it yourself from here: https://github.com/ms-iot/vscode-ros

[2019-05-17 18:28] #116 closed

[2019-05-17 18:28] #52 closed

[2019-05-17 18:29] #11 closed

[2019-05-17 18:29] #28 closed

[2019-05-17 18:29] #29 closed

[2019-05-17 18:33] ooeygui commented on #50
Closing as an upstream issue

[2019-05-17 18:33] #50 closed

[2019-05-17 18:34] ooeygui commented on #45
Renaming as this is a cloud rendering issue

[2019-05-17 18:38] ooeygui commented on #105
HI @bakerhillpins,
Sorry for the delay. We've recently upstreamed the core of ROS and are working to expand the projects we're upstreaming. The next batch is moveit - which includes rebasing the init_windows branch and doing the pull requests; then moving our builds over.

[2019-05-18 09:20] budongyue commented on #118
I did it just now.But there are some problems:
1. rosdep install --from-paths src --ignore-src -r -y
ERROR: the following packages/stacks could not have their rosdep keys resolved
to system dependencies:
navfn: No definition of [netpbm] for OS [windows]
Continuing to install resolvable dependencies...
#All required rosdeps installed successfully

And I install the netpbm by pip.There are some erro

[2019-05-20 18:51] seanyen commented on #118
@budongyue
Did you try to checkout the navigation code `init_windows` branch? For example, https://github.com/ms-iot/navigation/tree/init_windows?

We typically don't directly check-in changes to `melodic-devel` and we push the windows specific changes to `init_windows` instead.

[2019-05-21 02:37] budongyue commented on #118
seanyen
Yes,you are right.Thanks very much.I have successed.

[2019-05-21 02:39] budongyue commented on #118
@seanyen
Yes,you are right.Thanks very much.

[2019-05-21 03:34] seanyen commented on #118
@budongyue Sounds good. I will close this issue. And thanks for your confirmation.

[2019-05-21 03:34] #118 closed

[2019-05-31 03:10] budongyue commented on #107
You can try again by adding --execution-timeout=0 to your install command's end.For an example:
 choco upgrade ros-melodic-desktop_full -y --execution-timeout=0

As for choco command,it use 45 minutes as its fault timeout.And the flag --execution-timeout=0  can set the timeout as endless.

[2019-05-31 14:43] ooeygui opened #121 "[OpenCR] OpenCR board performance can be slow"
We're observing an issue where the Turtlebot3 running OpenCR can have decreased performance publishing topics. Odometry for example can have latencies up to .5 seconds (when it is supposed to be 30hz). This affects navigation on the turtlebot3.

[2019-06-01 13:38] codenotes opened #122 "DEBUG versions for *core* ROS libraries would be VERY helpful (and static too)"
It would be *extremely* helpful to include debug versions/builds of the *core* ROS libraries (not all of rosdeps) and, if possible, static library versions.  I have a lot of years working with ROS on windows (I worked a little with Brian et. al in the past and was responsible for the cygwin port of all of ROS that was out there for Indigo a few years back).   I am super excited to see what MSFT is

[2019-06-01 16:06] traversaro commented on #122
Related issue and discussion: https://github.com/ms-iot/ROSOnWindows/issues/31 .

[2019-06-02 15:37] codenotes commented on #122
Yeah, I read the tinyXML thread...it is related.   I understand the perspective of not including the DEBUG as doing so could add a lot of complexity and maintenance for something only a few use,  but I would say again to powers that be: just include the debug versions in a special place/folder...don't go  and modify catkin or worry about the toolset and other dependencies.   Just a few core librar

[2019-06-04 17:43] traversaro commented on #122
I totally agree that having libraries in Debug will be extremely convenient. With respect to that, I guess something is moving:
* A GSoC student is working on adding vcpkg support to bloom ( https://summerofcode.withgoogle.com/projects/#5110132554334208 , https://www.openrobotics.org/blog/tag/GSoC )
* According to a recent ROS2 TSC meeting minute, Microsoft is working on "a vcpkg feature to export

[2019-06-04 18:34] seanyen commented on #107
I closed this issue since I updated the installation Wiki. http://wiki.ros.org/Installation/Windows?action=diff&rev1=7&rev2=8

[2019-06-04 18:34] #107 closed

[2019-06-05 17:48] bakerhillpins commented on #106
@JackRen88
I think the problem you're seeing relates to the single quote characters in the command line of the xacro file.  Take them out and it will load the xacro file.

Not sure what issues this might have with windows and spaces in path names.

Ex:
[code]
Causes:

Remove the extra single quotes:
[code]

[2019-06-05 17:55] bakerhillpins commented on #71
#106 provides info on the error generated when encountered in windows.

[2019-06-05 23:27] ooeygui opened #123 "Update Builds and documentation to VS2019"
Now that Visual Studio 2019 is generally available, we should update our documentation, builds and the ROS wiki to reflect this.

[2019-06-07 00:44] seanyen commented on #6
It could be related to: https://github.com/ms-iot/ros_comm/pull/56

[2019-06-07 18:09] seanyen opened #124 "[DevOps] Could NOT find PythonInterp: Found unsuitable version "1.4", but required is at least "2""
**Describe the bug**
By using Azure DevOps pipelines for CI, I added the steps like below:
[code]

Then, when I kicked off a build, this error shows up:
[code]

**Expected behavior**
Kick off a DevOps build without this error.

[2019-06-07 18:33] seanyen commented on #124
https://github.com/Kitware/CMake/blob/v3.11.0/Modules/FindPythonInterp.cmake#L90-L108

FindPythonInterp.cmake is using system registry key to search for `PYTHON_EXECUTABLE`. On machines with multiple pythons installed system-wide, it could eventually pick a wrong one than the one from ROS installation.

Adding `-DPYTHON_EXECUTABLE=c:/opt/python27amd64/python.exe` can override this behavior to get

[2019-06-07 18:34] #124 closed

[2019-06-12 12:16] cugcsu opened #126 "Running roscore error"
I have installed ros under windows. After I run setup.bat, it appears after input roscore in commandline: the application cannot start normally (0xc000007b)
My environment is like this:
System: windows10 desktop x64
Vs2017 enterprise

This is the log file:
[roslaunch][INFO] 2019-06-12 20:03:24,436: Checking log directory for disk usage. This may take a while.
Press Ctrl-C to interrupt
[roslaunch][

[2019-06-12 18:10] seanyen commented on #102
Closed this issue since it is fixed already in the latest ROS installation.

[2019-06-12 18:10] #102 closed

[2019-06-12 21:46] AmandaLW commented on #103
What was the solution for this? I am having the same problem.

[2019-06-13 08:11] budongyue commented on #103
@AmandaLW  Installation is not successful.You can install it again.If your Internet speed is slow,you can set the time limit of timeout when you use choco,

[2019-06-14 04:32] #126 closed

[2019-06-14 20:41] traversaro commented on #66
@seanyen I see tha the issue still has the `more-information-needed`, feel free to let us know (I work in the same lab of @lrapetti) any additional information you think it could make sense to provide, thanks a lot!

[2019-06-14 21:29] seanyen commented on #66
@traversaro Thanks for the reminder!

@lrapetti, do you have a chance to update your machine drivers? https://www.dell.com/support/home/ca/en/cabsdt1/product-support/product/precision-15-5520-laptop/drivers

Also, is the issue about RViz not able to display temperature or "GLHardwareVertexBuffer::lock - Error: failed to Discard the buffer" problem? Sharing `rviz` configuration file might be also h

[2019-06-21 21:09] seanyen opened #128 "Pycairo and pygraphviz install failure from running rosdep"
**Describe the bug**
Pip installation failure are reported during upgrade.
[code]

**To Reproduce**
Run `choco upgrade ros-melodic-desktop_full -y --pre`.

**Expected behavior**
No errors reported from `rosdep`.

[2019-06-26 12:49] lrapetti commented on #66
The error I see is `GLHardwareVertexBuffer::lock - Error: failed to Discard the buffer`, and at the same time the temperature does not shown.

The `rviz` configuration can be found at https://github.com/robotology/human-dynamics-estimation/blob/master/conf/ros/rviz/HDERviz.rviz, and it has been tested on a different machine (non Windows) and the temperature showed up correctly as in the sphere tha

[2019-06-26 14:01] lrapetti commented on #66
I have also tried to update the machine drivers, but nothing changed.

[2019-07-15 02:49] Brabalawuka opened #131 "Developing ROSpackage in VIsual Studio"
**Describe the bug**
I am a rookie and it may be due to my misoperation. May I ask is there any way to get a intellisence when I create a .cpp file under the new package src folder?

**To Reproduce**
Steps to reproduce the behavior:
-Create a new package in command line
-Open devenv and create a new cpp node
-The new cpp file is not getting inteliience such as when including header files

**Enviro

[2019-07-15 08:11] #131 closed

[2019-07-15 08:12] Brabalawuka commented on #131
Fixed by adding lines in Cmakelist.txt

[2019-07-15 09:36] Brabalawuka commented on #98
This problem is still not fixed as I face the same exact issue

[2019-07-15 20:18] kejxu commented on #98
Hi @Brabalawuka, thanks for reaching out! Quick question, which issue are you hitting? I noticed that you have kindly shared your setup in https://github.com/ms-iot/vscode-ros/pull/73 so I'm guessing you're having problem with the `IncludePath` setting. Are you also hitting the `Could not source the setup file for ROS distro "melodic".` issue?

[2019-07-15 22:18] seanyen commented on #131
@Brabalawuka Do you mind to share the lines you added in `CMakeLists.txt`? It might help for others who are also running into the same issue.

[2019-07-16 05:48] Brabalawuka commented on #131
Haha is it a simple solution just remember to

`add_executable(@packagename src/@filename.cpp)`

[2019-07-16 05:50] Brabalawuka opened #132 "Geeting invalid macro error after generating cmake cache in visual studio"
**Describe the bug**
E0992	command-line error: invalid macro definition: =

**To Reproduce**
Steps to reproduce the behavior:
Open the workspace and generate cmake cache

![image](https://user-images.githubusercontent.com/31028570/61269259-a2ed2f00-a7d0-11e9-8681-6ba6846ce668.png)

![image](https://user-images.githubusercontent.com/31028570/61269275-ae405a80-a7d0-11e9-9fce-46e5259a850e.png)

**Exp

[2019-07-16 22:37] #111 closed

[2019-07-17 00:28] jchen706 opened #133 "boost_system-vc141-mt-x64-1_66.dll"
Ran roscore:
This happen:

The code execution cannot proceed because boost_system-vc141-mt-x64-1_66.dll was not found. Reinstalling the program may fix it this problem.

Then I try the force install: ran roscore same problem

[2019-07-17 01:33] seanyen commented on #133
@jchen706 Thanks for the reporting! To understand the situation, can you run `choco list -lo` to list what's installed in your system? And when you said the force install, did you do `choco upgrade ros-melodic-desktop_full -y --force`?

And please note that `git` needs to be available in your command prompt before the installation, you can run `git --version` to check.

[2019-07-19 16:01] majid1268 commented on #133
Dear @seanyen,  I have the same issue, please find more information in following

[code]

[2019-07-19 16:01] majid1268 commented on #133
```running rosdep..."Could not create temporary file: C:\Users\Braendler Annotator\AppData\Local\Temp\chocolatey\setup.18575061.bat" The upgrade of ros-melodic-desktop_full was successful.  Software installed to 'c:\opt\ros'Chocolatey upgraded 1/1 packages. See the log for details (C:\ProgramData\chocolatey\logs\chocolatey.log).C:\Windows\System32>```

[2019-07-19 20:55] seanyen commented on #133
@majid1268 I think the caveat is that your account with spaces and somehow the installation doesn't work with that. Before the team figure out the root cause, can you try to create another local account without spaces and retry again?

@jchen706 Could you check if you were running into that same case?

[2019-07-19 21:00] seanyen opened #134 "Installation failure when it is running under an account name with spaces"
**How to repro:**
1. Create a local account name like `test user`.
2. Follow the [steps](https://wiki.ros.org/Installation/Windows) to install ROS.

**Expected Behavior:**
ROS is installed successfully.

**Actual Behavior:**
Chocolatey outputs the following errors:
[code]

**Workaround:**
1. Create another local account name without spaces.
2. Configure the newly created local account as administr

[2019-07-22 20:55] c650 commented on #45
Bump. I believe I am experiencing this issue in a HyperV Windows VM right now.

[2019-07-24 05:34] seanyen opened #135 "catkin_make failed when there exist more than one python scripts with the same filename."
1. create a catkin workspace.
2. checkout rosserial repository.
3. kick off catkin_make.

[code]

[2019-07-26 19:46] ltstein opened #136 "Catkin tools: catkin build support"
Is Catkin build supported in ROSonWindows or only catkin_make commands?

I am attempting to use [voxblox](https://voxblox.readthedocs.io/en/latest/pages/Installation.html) but I am receiving the 'catkin' command not found when trying to execute 'catkin built' however with other items I am able to execute catkin_make with no issue.

[2019-07-29 16:33] c650 commented on #117
I think we should keep this issue open until the normal release is working.. As of last week it still wasn't. :)

[2019-07-30 22:22] kejxu commented on #135
thanks for reporting! closing since this is the same issue as https://github.com/ms-iot/ROSOnWindows/issues/94

[2019-07-30 22:22] #135 closed

[2019-07-30 22:25] seanyen opened #137 "rosdep is not updated as `choco upgrade ros-melodic-desktop_full -y --pre`"
**Describe the bug**
rosdep is not updated as `choco upgrade ros-melodic-desktop_full -y --pre`

**To Reproduce**
1. Install ROS on Windows LKG build. For example, `choco install ros-melodic-desktop_full -y`.
2. Upgrade it to the prerelease build. For example, `choco upgrade ros-melodic-desktop_full -y --pre`.

**Expected behavior**
`rosdep` should be upgraded to the latest one.

[2019-07-30 22:59] kejxu commented on #136
Thanks for asking! Not exactly familiar with voxblox (can't open readthedocs.io, maybe the server is temporarily down) or your use case, but I have come to notice that [`catkin_tools`](https://github.com/catkin/catkin_tools) itself is a standalone package aside from `catkin`. Since I don't have too much experience using the `catkin build` command (`catkin_make_isolated` generally provides sufficie

[2019-07-31 19:53] ooeygui commented on #136
Hi @ltstein,
We are not planning on windows enabling the catkin tools project. There is a thread on [ros answers](https://answers.ros.org/question/289655/what-is-the-status-of-catkin-tools/) about `catkin_make` vs `catkin build`.

For Windows, we are optimizing for the Open Robotics recommended build tools for both ROS1 and ROS2.

[2019-07-31 19:53] #136 closed

[2019-08-01 19:25] ooeygui commented on #133
I have a local repro of this. It is related to the space in the name. Root causing

[2019-08-01 22:20] seanyen opened #139 "`roscp` doesn't work from ROS on Windows installation"
Cross-post the issue reported from https://answers.ros.org/question/329412/how-do-i-get-the-roscp-command-to-work/.

[2019-08-02 07:45] majid1268 commented on #133
@ooeygui and @seanyen thank you for your responses. I have not had a chance to test it, but it seems correct and it is related to space in the name.

[2019-08-13 21:05] gptshubham595 commented on #133
sorry but @majid1268  can u tell how you resolved this

[2019-08-13 21:11] seanyen commented on #133
@gptshubham595
After you run `c:\opt\ros\melodic\x64\setup.bat` do you the following related ROS paths in `%PATH%`?

[code]

[2019-08-13 21:17] gptshubham595 commented on #133
inside my this folder there is only these files
`C:\opt\rosdeps\x64\bin`

`cmake, cmake-gui,cmcldeps,cpack,ctest`

[2019-08-14 03:48] ooeygui opened #140 "[Doc] Update ROSSerial_Windows tutorials to reference direct support"
This tutorial is no longer relevant:
http://wiki.ros.org/rosserial_windows

So update with a notice that Windows is now directly supported.

Then reply back to this thread.
https://answers.ros.org/question/330649/rosserial_windows-program-error/

[2019-08-14 08:02] kyawdevi opened #141 "There is a error for running gazebo on windows10 ros when running Turtlebot3"
Gazebo not working
When running roslaunch gazebo_roslaunch turtlebot3_gazebo turtlebot3_gazebo_cartographer_demo.launch on windows ros, ,can't continue to execute code.How should I solved it?
Rviz and other tools working fine but gaze shows loading screen like gaze is loading
and then it stopped
I reinstall many times but gazebo specifically didnt work for me

I tried this method also which is in

[2019-08-14 23:10] seanyen commented on #141
@kyawdevi could you share a screenshot for the loading screen? And there should be some logs for `gazebo` under `C:\Users\<your name>\.gazebo`. Are you able to share them as well?

[2019-08-14 23:12] seanyen commented on #84
This is merged and fixed, so I closed it.

[2019-08-14 23:12] #84 closed

[2019-08-21 11:42] gptshubham595 commented on #103
same problem

 I would like to say that the folder
C:\opt\rosdeps\x64\bin\
doesn't contain any dll files even on reinstalling

[2019-08-21 11:49] gptshubham595 opened #142 "no dll files inside this folder"
i have tried force install via choco thrice but nothing works same error

choco list -lo
Chocolatey v0.10.15
assimp 4.0.1.1809242322
boost 1.66.0.1904102339
bullet3 2.87.0.1809242326
bzip2 1.0.6.1901242108
chocolatey 0.10.15
chocolatey-core.extension 1.3.3
chocolatey-windowsupdate.extension 1.0.4
console_bridge 0.4.0.1809242322
cppunit 1.12.1.1809242322
cppzmq 4.2.2.1811162207
dlfcn-win32 1.1.1.18

[2019-08-21 21:11] seanyen commented on #142
@gptshubham595 Hi, can you check if you have the same environment like this issue? https://github.com/ms-iot/ROSOnWindows/issues/134

[2019-08-21 21:46] ooeygui opened #144 "ROSBag - ImportError: No module named Crypto"
This is a cross-post for https://answers.ros.org/question/331160/importerror-no-module-named-crypto/.

Traceback (most recent call last):
  File "C:\opt\ros\melodic\x64\bin\rosbag", line 34, in <module>
    import rosbag
  File "C:\opt\ros\melodic\x64\lib\site-packages\rosbag\__init__.py", line 33, in <module>
    from .bag import Bag, Compression, ROSBagException, ROSBagFormatException, ROSBagUni

[2019-08-24 00:51] seanyen opened #145 "[test failure] test_catkin_make_isolated.test_symlinked_src"
This is a test failure from catkin and we should be looking into.

[code]

[2019-08-27 05:21] BaoxiJia opened #146 "[ROS Dependency] Need to update the windows dependencies for azureiot"
**Describe the bug**
The **azureiot** dependency for Windows version is out-of-dated. The folder structure for Windows is different from the latest official version for Linux.

**To Reproduce**

- On Windows, **macro_utils.h** is located in "C:\opt\rosdeps\x64\include\azureiot\**azure_c_shared_utility**" folder.

- On Linux, after install azure-iot-sdk-c-dev with the command "sudo apt-get install

[2019-08-27 05:45] giovent opened #147 "Joint State Publisher node crashes without error messages."
**Describe the bug**
joint_state_publisher node crashes. The process dies without any particular prompt.

**To Reproduce**
(Once you have run moveit)
`rosrun joint_state_publisher joint_state_publisher`

**Expected behavior**
The node starts correctly.

**Environment information:**
 - OS version: Windows 10 1803
 - Chocolatey Versions: <details><summary>Chocolatey v0.10.11</summary><p>assimp 4.0.1

[2019-08-27 11:26] gptshubham595 commented on #142
No

[2019-08-27 11:27] gptshubham595 commented on #142
Inside that folder only some cmake files exist but no dll without cmakelist.txt

[2019-08-28 10:18] ghost opened #148 "Cannot build a workspace containing more than 100 packages"
**Describe the bug**
Launching the command `catkin_make` on a workspace containing more than 100 packages doesn't work. The outcome is an infinite exception printed on the console: `ImportError: No module named catkin_make`

**To Reproduce**
Steps to reproduce the behavior:
* Catkin workspace setup instructions
  * Create a workspace folder `C:\ws\maplab\`. Inside it, create the `src` folder
  * I

[2019-09-03 20:20] ooeygui opened #149 "[ROS][DevOps] Factor and Document how customers can build and publish binaries"
ROS on Windows is built using Azure DevOps. We'd like to make it easier for 3rd parties to build their own ROS nodes and publish to chocolaty.

[2019-09-04 00:15] ooeygui commented on #148
I have a repro of this. It looks like the environment isn't getting inherited into the forked processes. I'm working to understand that.

[2019-09-04 01:07] imcnanie commented on #6
Any updates on this?

[2019-09-13 18:59] gptshubham595 commented on #142
I Got the solution it may work for others , I have installed Visual studio in drive D: and was installing it on C:
So it wasnt installing/ downloading all files

simply i have done:
Created shortcut inside drive d:
created shortcut
and on opening i changed as cd d:
then done same procedure it worked

[2019-09-13 19:51] gptshubham595 commented on #142
Configuring done
CMake Error at CMakeLists.txt:13 (add_executable):
  No SOURCES given to target: MicoMoveIt

[2019-09-13 20:06] seanyen commented on #142
@gptshubham595 Did you use `catkin_make` to build? Have you followed through [Using ROS on Windows](https://wiki.ros.org/Installation/Windows) to setup a developer command prompt? ROS projects has its owned build tool in additions to pure CMake.

[2019-09-15 16:24] ooeygui commented on #142
Could you post your chocolatey log? it is located in c:\ProgramData\chocolatey\logs\chocolatey.log

You may also find that a dependency of MicroMoveIt isn't available yet on Windows.
Could you post the repo for it and I'll take a peek.

[2019-09-16 20:27] ooeygui commented on #147
Sorry for the delay. Joint_state_publisher crashes when there is a bug in the urdf. Could you post logs or a stack trace?

[2019-09-16 20:28] ooeygui commented on #146
Thanks for the post. We're working on vcpkg work for dependencies and will include this work

[2019-09-18 20:00] gptshubham595 commented on #142
Yes MicroMoveit was not installed so i did it . But now other problem is there
on running roscore after running setup.bat

![Capture](https://user-images.githubusercontent.com/24877361/65181476-c3f62880-da7c-11e9-80ba-378e335387b6.JPG)

logfile:

[Uploading roslaunch-SHUBHAM-10112.log…]()

Choco list:
Chocolatey v0.10.15
assimp 4.0.1.1809242322
boost 1.66.0.1904102339
bullet3 2.87.0.1809242326
bzi

[2019-09-18 20:24] gptshubham595 commented on #142
check this I will remove this repo just to show what files I'm having:

https://github.com/gptshubham595/ROS-WINDOWS-FILES

[2019-09-18 20:52] gptshubham595 commented on #142
![Capture](https://user-images.githubusercontent.com/24877361/65184997-4c2bfc00-da84-11e9-8be3-f151f0680cf9.JPG)

[2019-09-18 21:08] seanyen commented on #142
@gptshubham595 I noticed that your installation is on `D` drive. Did you manually copy things over there? Currently the `ROS on Windows` build makes an assumption that it should be under `C` drive. If you need to make your ROS installation under other drives, you can go check this [page](https://ms-iot.github.io/ROSOnWindows/GettingStarted/UsingROSonWindows.html), where we have an example how to c

[2019-09-18 21:28] gptshubham595 commented on #103
SAME PROBLEM

[2019-09-18 21:30] ooeygui commented on #103
Reopening.
ROS is very sensitive to the environment, and environmental conflicts can cause issues like this. We're trying to identify the environment that leads to this condition.

[2019-09-18 21:32] gptshubham595 commented on #103
MY FILES ARE LISTED HERE https://github.com/gptshubham595/ROS-WINDOWS-FILES
(*I WILL DELETE THIS REPO)

Chocolatey v0.10.15
assimp 4.0.1.1809242322
boost 1.66.0.1904102339
bullet3 2.87.0.1809242326
bzip2 1.0.6.1901242108
chocolatey 0.10.15
chocolatey-core.extension 1.3.3
chocolatey-windowsupdate.extension 1.0.4
console_bridge 0.4.0.1809242322
cppunit 1.12.1.1809242322
cppzmq 4.2.2.1811162207
dlfcn

[2019-09-18 21:33] gptshubham595 commented on #103
ONLY Error due to boost*.DLL files

I have put them now in vcpkg/packages

[2019-09-18 21:35] ooeygui commented on #103
Can you post the output of of the command environment?
open a command window with 'run as administrator'
Inside:
[code]

Post the output. (Please remove any personal information from the output)

[2019-09-18 21:37] gptshubham595 commented on #103
ALLUSERSPROFILE=C:\ProgramData
APPDATA=C:\Users\Shubham\AppData\Roaming
ChocolateyInstall=C:\ProgramData\chocolatey
ChocolateyLastPathUpdate=132097646948150083
CMAKE_PREFIX_PATH=D:/opt/ros/melodic/x64;D:/opt/rosdeps/x64;D:/opt/vcpkg/installed/x64-windows
CommonProgramFiles=C:\Program Files\Common Files
CommonProgramFiles(x86)=C:\Program Files (x86)\Common Files
CommonProgramW6432=C:\Program Files\

[2019-09-18 21:42] ooeygui commented on #103
In your output you have a mix of C drives and D drives.

*ASK:* Could you tell me how you got into this situation? ROS install is currently only supported on the C drive.

*Long story*
During the build, catkin (the ROS build system) bakes into the output files the hard coded 'install path', so it expects to install into c:\opt. Your install seems to be redirected to D which breaks that assumption.

[2019-09-18 22:03] ooeygui commented on #142
Linking https://github.com/ms-iot/ROSOnWindows/issues/103

[2019-09-18 22:03] ooeygui commented on #103
Linking https://github.com/ms-iot/ROSOnWindows/issues/142

[2019-09-19 00:11] ooeygui commented on #98
We've been updating the vscode ROS extension. IF you find issues in the extension, please create an issue in https://github.com/ms-iot/vscode-ros

[2019-09-19 00:11] #98 closed

[2019-09-19 00:12] ooeygui commented on #106
@bakerhillpins is correct. the Single quotes are not needed and cause issues on Windows. (also --inorder is not needed on melodic)

[2019-09-19 00:12] #106 closed

[2019-09-19 00:13] ooeygui commented on #121
Fixed in rosserial

[2019-09-19 00:13] #121 closed

[2019-09-19 00:13] #123 closed

[2019-09-19 00:16] ooeygui commented on #6
@imcnanie We changed the setup script to use 127.0.01 which prevented a DNS lookup on each connection.

[2019-09-19 00:16] ooeygui commented on #5
Resolving external as not windows specific.

[2019-09-19 00:16] #5 closed

[2019-09-19 00:17] #8 closed

[2019-09-19 04:31] rx78kok commented on #133
Hi im having the same problem too. Force install `choco upgrade ros-melodic-desktop_full -y --force` didnt fix the issue.

Folder `C:\opt\rosdeps\x64\bin` does not have boost_system-vc141-mt-x64-1_66.dll.

I hope there is some solution for this.
[code]

[2019-09-19 14:25] ooeygui commented on #133
@rx78kok We're working to understand what is happening. We do know that once a system gets into this stage, chocolatey won't repair itself. Could you post your environment?
From within your visual studio command prompt:
[code]

Please remove any personally identifiable information like tokens and usernames.

Do you happen to have python installed before attempting to install ROS?

[2019-09-19 14:36] ooeygui commented on #103
@gptshubham595 I see that you have anaconda installed. In the ROS/VS window, could you run
[code]
What I suspect is happening is that during the ROS install, we initialize the sideloaded python in c:\opt with things like rosdeps. However, when running python the anaconda version is used, which doesn't include rosdeps, so that portion fails.

@gptshubham595 Could you try the following to confirm th

[2019-09-19 20:06] ooeygui opened #150 "[Setup] Clarify when to call setup.bat"
For this URL:
https://wiki.ros.org/Installation/Windows

Please include a shortcut screenshot of the shortcut dialog which shows how to add setup.bat.

[2019-09-20 02:11] rx78kok commented on #133
[code]
Yes i have python installed before installing ROS because i need it to run rosdep when installing ROS. If not i cant installed the dependency package for ROS. Is there any other way to run rosdep without python when installing ROS?

[2019-09-20 07:08] gavanderhoorn commented on #150
May I suggest to not use screenshots to show the content of a file?

The [support guidelines](http://wiki.ros.org/Support) (admittedly, for ROS Answers and Discourse) explicitly request to not use screenshots for anything that is text.

If "screenshot" here is meant to mean an actual image, then it might be good to just show the context of `setup.batch` with the appropriate formatting (ie: code bl

[2019-09-20 17:28] ooeygui commented on #150
@gavanderhoorn Thank you for the feedback. We've had lots of support requests which boil down to not sourcing the setup.bat file.

Instead of a screen shot, perhaps we should change the document to delay creating the Windows shortcut until after ROS is installed?

[2019-09-20 17:37] ooeygui commented on #133
@rx78kok Thank you for the environment. During the install, the ROS Chocolatey package installs Python and seeds it with pips needed to initialize the environment - including rosdeps. What we've seen is with a mixed environment an unexpected install of python gets seeded, and rosdeps fails.

While we have code to protect against this situation, we need to replicate this scenario to see how we can

[2019-09-21 09:32] gavanderhoorn commented on #150
I may have misunderstood this sentence:

If the intent is to just show a screenshot of the windows desktop with a screenshot, that would be completely fine.

If the intent is to show the contents of a file with a screenshot, then just copy-pasting the file *contents* would be preferable.

[2019-09-21 21:19] ooeygui commented on #150
@gavanderhoorn Oh, thanks for the clarification. I edited the original comment. Since Windows is UI heavy, sometimes trying to describe what should go where is problematic. However, there are also issues with localization of screens, so I think some combination of reordering might be the best option anyway.

[2019-09-23 01:48] rx78kok commented on #133
Hi. Sorry for the late reply.
I just installed python normally by downloading from www.python.org. Dont think i did anything that would affect the installation.

This is the error i get when execute command above.
[code]

[2019-09-23 03:33] rx78kok commented on #133
@ooeygui Hi. Sorry for the late reply.
I just installed python normally by downloading from www.python.org. Dont think i did anything that would affect the installation.

After i remove any related to python in my environment variables, i tried to execute the command

`c:\ProgramData\chocolatey\lib\ros-melodic-desktop_full\tools\rosdepInstall.bat`

The command above install all the package normall

[2019-09-24 23:30] ooeygui commented on #150
I reordered the getting started guide. Hopefully this is clearer about the setup.bat need.

[2019-09-24 23:30] #150 closed

[2019-09-25 17:53] songlan-hl opened #151 "ros::master::check() hanging"
**Describe the bug**
I tried to use ros::master::check() to see if roscore is ready. But it kept hanging in this function .

**To Reproduce**
I simply ran the program quoted in https://answers.ros.org/question/236678/check-master-ros-node-is-started-c/. If I didn't start roscore at the beginning and ran it, the program never output the "waiting..." line or anything. The program got hanging forever

[2019-09-25 18:07] songlan-hl commented on #151
To add to the report, if I skipped this line, but used getTopics(), getNodes() when roscore is not ready, they will all hang. The right behavior should return empty.

[2019-09-25 18:12] seanyen commented on #151
@songlan-hl Thanks for reporting. I will test and see if this behavior only exhibits on Windows or is it platform-agnostic. And see what actions should we take after.

[2019-09-25 18:23] seanyen commented on #94
I verified it is no longer repro, so I close it.

[2019-09-25 18:23] #94 closed

[2019-09-25 18:24] kejxu commented on #94
this is fixed in https://github.com/ros/catkin/commit/3d4fa72a18c7faa061f431d7727c5a87ba1a5b33

[2019-09-25 18:45] seanyen opened #152 "🐛 [meta ticket] ROS on Windows installation issues"
Hi all, this is a meta ticket for the ROS on Windows installation issue. Feel free to add the issues you running into below and we will take a look soon. Thanks!

This is a meta ticket to link all ROS install\upgrade related issues.
  - https://github.com/ms-iot/ROSOnWindows/issues/142
  - https://github.com/ms-iot/ROSOnWindows/issues/137
  - https://github.com/ms-iot/ROSOnWindows/issues/134
  - h

[2019-09-25 18:49] seanyen commented on #62
This is fixed by the referenced pull request. I close it now.

[2019-09-25 18:49] #62 closed

[2019-09-25 21:04] ooeygui commented on #148
There are a couple of things contributing to this issue.
First, this specific workspace includes many sub projects. This isn't an advisable practice as each time you build, the workspace needs to be crawled.

On Windows, there is an environment limit - Each process inherits the host process's environment. The total limit of the entire environment is 32,000 characters - which can be quickly exhaust

[2019-09-26 09:41] phamkhactu commented on #95
I do follow tutorials rosbridge + roslibjs . But  i Pub message can not subcribe in websocket
![Screenshot from 2019-09-26 16-39-21](https://user-images.githubusercontent.com/42369268/65677714-4df55100-e07c-11e9-8232-6fb91ea3e6fa.png). I dont kown why. Can you help me. Thanks more for helping. I have faced with bugs 2 days

[2019-09-26 09:44] phamkhactu commented on #95
here your link [tutorial](https://msadowski.github.io/ros-web-tutorial-pt1/?fbclid=IwAR2EHUnTJ9fISQ03lt58qxKrMEsxvfXZEJLYGnrEGWzz0tUsxeKF6koUUno)

[2019-09-26 11:24] bakerhillpins commented on #95
@phamkhactu This thread should be confined to discussions related to the deprecated API as described in the issues first post.
Please ask a new question concerning your particular problem on [ROS Answers](https://answers.ros.org/questions/) where you are likely to get a better response from the community.

[2019-09-26 17:48] ooeygui commented on #95
@bakerhillpins thanks for replying to the thread.  I'm going to close this issue as it is not Windows specific.

[2019-09-26 17:48] #95 closed

[2019-09-26 18:36] seanyen commented on #151
After some investigation, the hanging happens at the following location:
https://github.com/ros/ros_comm/blob/d487d5877049d61fe2ebcc6487e9a7a72d9f0346/utilities/xmlrpcpp/src/XmlRpcDispatch.cpp#L125

And in this situation, when a non-blocking socket is in use in [`WSAPoll`](https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-wsapoll), if it failed to connect to the peer host, [`

[2019-09-26 23:01] songlan-hl commented on #151
thanks to @seanyen for quick response. Any workaround to check if the master is running with current build?

[2019-09-26 23:06] seanyen commented on #151
The workaround is to checkout [`ros/ros_comm`](https://github.com/ros/ros_comm) in your `catkin` workspace and apply this [patch](https://patch-diff.githubusercontent.com/raw/ros/ros_comm/pull/1816.patch). After you source the `devel` workspace, you node should be able to consume the new built binaries.

[2019-09-26 23:12] songlan-hl commented on #151
Thanks!

[2019-09-26 23:49] michaelajax opened #153 "ROS Install can "silently" fail if Desktop C++ package isn't installed in Visual Studio"
**Describe the bug**
A requirement to install ROS, as documented [here](https://wiki.ros.org/Installation/Windows), is to `Include "Desktop development with C++" workload` when installing VS2019.

Hypothetically - definitely not if you're me - someone could think that they had the C++ toolchain installed, but not actually have it installed. When this happens, the install "silently" fails - as in,

[2019-09-26 23:55] michaelajax commented on #152
@seanyen Just added https://github.com/ms-iot/ROSOnWindows/issues/153

[2019-09-27 00:02] michaelajax opened #154 "Enhancement: Add documentation about debugging ROS Nodes"
It would be good if we created documentation about building nodes in a way that allows a debugger to be attached, as well as documentation about how to attach a debugger.

Some things to consider:
- Documentation about adding a wait for debugger to the node source. quick summary is:
    - add `#include "windows.h"` to the node source code
    - add the following lines right at the start of the `ma

[2019-09-30 19:49] seanyen opened #155 "[ROS2] pluginlib build break with Visual Studio 2019 v16.3"
After the toolchain is upgraded to the Visual Studio 2019 v16.3 (released in Sep, 2019), you may notice the build break happening in `pluginlib`, which is because now the usage of the deprecated `<experimental/filesystem>` is escalated to be a compiler error.

[code]

[2019-10-05 21:18] johnwason opened #157 ""Input line too long" error during catkin"
**Describe the bug**
When a large number of packages are in the workspace, the environmental variables in setup.bat can become very long and exceed the 8191 characters.

**To Reproduce**
Steps to reproduce the behavior:
Have enough packages in the workspace to have $PATH exceep 8191 characters in length.

**Expected behavior**
setup.bat should complete without errors. A better solution to this iss

[2019-10-08 22:27] johnwason opened #158 "Catkin bug fix in upstream for INTERFACE libraries"
A bug in Catkin was fixed in https://github.com/ros/catkin/pull/1034. Can the Windows choco repository be updated to include this fix?

**Describe the bug**
When using add_library with an INTERFACE library, it will fail on Windows.

**To Reproduce**
Add an INTERFACE library and attempt to build using catkin.

**Expected behavior**
add_library silently succeeds

[2019-10-08 22:47] seanyen commented on #158
@johnwason In general, when you install `ROS on Windows`, you can do `choco upgrade ros-melodic-desktop_full -y --pre` to get the daily builds from the `pre-release` channel, which are built from the upstream sources (with some exceptions, but we are using the upstream `catkin`) and you should be able to get the fix there.

And for this fix, since it just gets merged today, you may need to wait an

[2019-10-10 00:13] rachelhson opened #159 "Catkin cannot find BLAS"
**Describe the bug**

I tried to catkin_make, but CMake Error happen on following directory

`CMake Error at C:/opt/python27amd64/Lib/site-packages/cmake/data/share/cmake-3.15/Modules/FindPackageHandleStandardArgs.cmake:137 (message):
  Could NOT find BLAS (missing: BLAS_LIBRARIES)

-- Configuring incomplete, errors occurred!
See also "C:/opt/ros/melodic/catkin_ws/build/CMakeFiles/CMakeOutput.log"

[2019-10-10 00:26] seanyen commented on #159
Can you post the full `catkin_make` logs? Do you have `openblas` listed after you run `choco list -lo`?

[2019-10-10 00:53] rachelhson commented on #159
[code]

This is full of `catkin_make` logs. and I do not have `openblas` in `choco list -lo`.

[2019-10-10 03:53] seanyen commented on #159
@rachelhson can you do `choco install openblas -y` and rebuild it again?

[2019-10-10 13:05] rachelhson commented on #159
I resolve the issue with  `choco install openblas -y` but i have another CMake Error with LAPACK API.
[code]

[2019-10-10 21:52] seanyen commented on #159
@rachelhson Hi, can you try to do `choco install lapack`? We do have some dependencies hosted on `https://roswin.azurewebsites.net/`, and you can do a quick search to shop for what you need.

If it doesn't exist, you can always go with [`vcpkg`](https://github.com/microsoft/vcpkg) to install the missing packages from your ROS command prompt (by default we install a copy of vcpkg under `c:\opt\vcpk

[2019-10-10 21:53] seanyen commented on #158
@johnwason The fix should be in the latest `prerelease` build. I will close it for now, and feel free to re-open if there is any problems.

[2019-10-10 21:53] #158 closed

[2019-10-11 00:42] rachelhson commented on #159
I resolved for Lapack using `choco install clapack`

I did not know i could find dependencies in azurewebsites.

Now my ros in window is ready to run !!

Thank You!!!

[2019-10-14 20:56] seanyen commented on #159
@rachelhson Just want to check back, does installing `lapack` solve the problem?

[2019-10-14 21:16] seanyen commented on #83
Closed it since the pull request is merged at the upstream.

[2019-10-14 21:16] #83 closed

[2019-10-14 22:08] seanyen commented on #155
I closed it since it is merged at the upstream.

[2019-10-14 22:08] #155 closed

[2019-10-15 02:01] rachelhson commented on #159
@seanyen  Install `lapack` using `choco install clapack` works for me.
currently I am facing different issue in catkin_make
[code]
I posted the issue in manufacturer's github, but I want to make sure whether there is anything I can try to fix this issue. Please let me know if you have an idea.

Thank you for your help.

[2019-10-17 19:22] ooeygui commented on #159
I'm going to rename this issue to constrain it to blas.

[2019-10-17 19:32] ooeygui commented on #159
@rachelhson thanks for confirming on lapack. The issue you are hitting now is that Kinova has code which is specific to the GCC compiler -  `__attribute__ ((visibility ("default")))`. To port the kinova code to Windows. The ROS2 model for this is to use a `visibility_control.h` header, which handles the platform switch. Check out `https://github.com/ros2/demos/blob/master/image_tools/include/image

[2019-10-21 03:42] fujimo-t opened #160 "RViz: PointCloud2 is not correctly displayed"
**Describe the bug**
When I displayed pointcloud2 topic by RViz, there are small points in the window.

![image](https://user-images.githubusercontent.com/10286050/67174101-d822a200-f3fb-11e9-99fe-9c702f954734.png)

But color of the pointcloud is black even if it has RGB information.
Also all option related to appearance such as Size, Color Transformer and Alpha are not working.
There are just sma

[2019-10-21 19:02] ooeygui commented on #160
@fujimo-t Thank you for the report.

We have found that OpenGL driver implementations on Windows are inconsistent. We are investigating using an OpenGL to Direct3D translator, but this is a longer term investment.

Our recommendation for video cards or drivers that manifest rendering is to change the point 'style' to a different setting.

[2019-10-21 19:02] #160 closed

[2019-10-21 19:36] ooeygui commented on #112
We have provided a Zip deployment on the archives.

[2019-10-21 19:36] #112 closed

[2019-10-23 07:32] giovent commented on #147
Apparently my PyQt module was broken, reinstalling it solved the problem, thank you!

[2019-10-23 07:32] #147 closed

[2019-10-24 16:30] #53 closed

[2019-10-24 16:30] #30 closed

[2019-10-24 16:32] #7 closed

[2019-10-24 16:33] ooeygui commented on #82
@imcardle If you are still hitting this, please reopen.

[2019-10-24 16:33] #82 closed

[2019-10-24 16:36] ooeygui commented on #141
@kyawdevi Please reopen if you can still repro

[2019-10-24 16:36] #141 closed

[2019-11-02 19:43] nikhiljgeorge opened #161 "Moveit Tutorial links broken and build does not work"
I installed ROS using instructions here - http://wiki.ros.org/Installation/Windows. Installation seemed to go fine.

I then tried to execute the instructions given here https://ms-iot.github.io/ROSOnWindows/Moveit/moveit_tutorials.html
The instructions failed at step git clone https://github.com/ms-iot/moveit_tutorials -b init_windows - apparently the link is invalid. Could you please fix the link

[2019-11-04 19:57] ooeygui commented on #161
Hi @nikhiljgeorge
Thanks for the report. We will the upstream documentation updated and links corrected.

pthread isn't available on Windows, so we have been migrating instances of it to boost threads, which offer equivalent cross platform capabilities.

I do see a Kinetic link in there - Sorry for the confusion - Windows is only supported on Melodic forward.

[2019-11-13 22:39] arek20 opened #162 "ROS1 Melodic on Windows 10 Icons not displaying in rqt_graph and rqt_plot"
When going through the ROS tutorial for Beginners after Melodic install on Windows 10, the ros_graph and ros_plot within the window icons are not displaying at all - please notice the blank gray rectangles where the icon for 'Refresh', 'Help', etc. should be.

I went all the way through the whole tutorial, step-by-step, up to Section 6.

![image](https://user-images.githubusercontent.com/23062462/

[2019-11-24 15:49] traversaro opened #164 "vcpkg dll directory is not added to the path"
**Describe the bug**
I installed the ros-vcpkg chocolatey package, and used the vcpkg installed at `c:\opt\vcpkg` to install some vcpkg libraries using the `x64-windows` triplet. However, I can't use them without adding to the path the `c:\opt\vcpkg\installed\x64-windows\bin` directory that contains the installed Release dll.

**To Reproduce**
* Install `ros-vcpkg` and some libraries such as `ace`

[2019-11-25 18:35] ooeygui commented on #164
Could you share which github repository you were using which consumed ace?

[2019-11-25 19:20] ooeygui commented on #164
We have seen some vcpkg ports not respecting the RelWithDebInfo flag - generating a debug version which is dropped into the install bin directory. I'm working on this, but I suspect this will have to be fixed on a per port basis :-(

[2019-11-25 19:37] songlan-hl opened #165 "Random nodelets "finished cleanly" at launch"
**Describe the bug**
I wonder whether anyone has seen similar behaviors. I am using ROS nodelets as the basic operation units of my program. Usually there are about 10 nodelets loaded to one manager. I have been using this way for a while and have not had problems.

Now I am running into strange problems when I test my ROS program on other computers. Every time I ran roslaunch, All nodelets were i

[2019-11-25 19:45] songlan-hl commented on #165
This is the launch file if it helps.

<launch>

  <arg name="config" />
  <rosparam command="load" file="$(arg config)" />
  <arg name="workdir" default="" />
  <param name="job/log_directory" value="$(arg workdir)" unless="$(eval workdir == '')" />
  <arg name="datadir" default="" />
  <param name="output/result_folder" value="$(arg datadir)" unless="$(eval datadir == '')" />
  <arg name="modeldi

[2019-11-25 20:04] seanyen commented on #165
@songlan-hl, Hi, thanks for the reporting. I would recommend to start from enabling more logging to see any obvious problems there. Can you try to do the following?

1. Create and use [`rosconsole.config`](http://wiki.ros.org/rosconsole#Configuration) to enable `nodelet` related `DEBUG` logging.

[code]

2. In the launch file, add `output="screen"` to the `nodelet` and force everything to `stdout`

[2019-11-25 20:18] traversaro commented on #164
I was trying to make sure that 'YARP ( https://github.com/robotology/yarp ) could be compiled easily in a ROSonWindows workspace.

[2019-11-25 20:18] traversaro commented on #164
I was trying to make sure that 'YARP ( https://github.com/robotology/yarp ) could be compiled easily in a ROSonWindows workspace.

[2019-11-25 21:26] songlan-hl commented on #165
Not much can be found here:

[ INFO] [1574716365.333913900]: waitForService: Service [/MYPROGRAM_job_manager/load_nodelet] has not been advertised, waiting...
[ INFO] [1574716365.726890200]: waitForService: Service [/MYPROGRAM_job_manager/load_nodelet] is now available.
[ INFO] [1574716365.726612600]: waitForService: Service [/MYPROGRAM_job_manager/load_nodelet] is now available.
[ INFO] [15747163

[2019-11-25 21:41] songlan-hl commented on #165
actually there is more in master.log

[rosmaster.master][INFO] 2019-11-26 05:33:21,351: publisherUpdate[/HLZN_job_manager/bond] -> http://DESKTOP-I78E87T:55221/ ['http://DESKTOP-I78E87T:55236/', 'http://DESKTOP-I78E87T:55199/', 'http://DESKTOP-I78E87T:55226/', 'http://DESKTOP-I78E87T:55201/', 'http://DESKTOP-I78E87T:55209/', 'http://DESKTOP-I78E87T:55185/', 'http://DESKTOP-I78E87T:55231/', 'http:/

[2019-11-25 21:43] songlan-hl commented on #165
could the problem be the connection timeout?

[2019-11-25 21:48] ooeygui commented on #165
@songlan-hl This log looks promising. It looks like the Windows firewall is blocking the connection. Could you try (in a secure environment) disabling the firewall and re-running to see if this reproduces?

[2019-11-25 22:04] songlan-hl commented on #165
I turned off windows defender firewall. And it didn't show any difference in the behaviors.

Is there a way to extend the timeout limit?

[2019-11-25 22:18] songlan-hl commented on #165
I tried adding 11311 to the inbound rule of the firework as well and still no change. It is puzzling as other 8 nodelets apparently were successfully launched. And only 2...

[2019-11-25 22:40] songlan-hl commented on #165
Another thing about my setup: I used more than one publishers to publish to the same topic. It was working fine even though there were messages "ERROR: failed to advertise a service that is already advertised in this node". According to some general ROS forum this message can be ignored. And I didn't have problems on most of the computers before.  On the computer I am debugging now, its ros system

[2019-11-25 22:55] ooeygui commented on #165
The Firewall has caused issues in the past, but that isn't it for this bug.
(Debugging nodelet failures is quite difficult, we'll look to see what we can do to help improve this).

A Nodelet is failing to load, which can be caused by a number of reasons:

- The nodelet is missing a dependency.
- What the nodelet is connecting to is failing.

**Debugging nodelets**
To check these, it is best to cap

[2019-11-26 00:35] songlan-hl commented on #165
Thanks for taking the time. Looking through the possible reasons, I wonder why these would trigger "random" nodelets to stop working? Everytime the two nodeletes (now I have seen some cases failed with one nodelet in the past couple of hours) could be different.

[2019-11-26 01:17] ooeygui commented on #165
At this point, I don't think the issue is systemic, so I'd like to understand what's happening within the nodelets themselves. Could you provide a repro? (Are they in a public github we can investigate?)

[2019-11-26 04:18] songlan-hl commented on #165
I will try to simply our application into something easier to reproduce.

In the meanwhile, I am tracing backward in ros system logs. The previous connection failure actually happened after the two nodes aborted, so it's not the cause. Around the time of abortion, master.log showed this:

In another run where the cameraController node did not abort, the corresponding message is

where 57534 is rel

[2019-12-01 02:51] ooeygui opened #166 "[Melodic] IMU_Tools is missing from desktop full"
IMU_tools are not present in the desktop full install, it should be.
This means you cannot visualize IMU in rViz.

[2019-12-01 12:58] JoelTari opened #167 "[Choco upgrade ros-melodic-desktop_full] Gazebo9 installation failed"
**Bug description**
gazebo9 installation failed when doing the 'choco upgrade' command instruction on http://wiki.ros.org/Installation/Windows

Several connection warnings occured prior:

**Environment information:**
 - OS version: 1903
 - Chocolatey Versions: v0.10.15
 - No proxy

[2019-12-02 04:28] ooeygui commented on #167
I attempted to reproduce this error, but was unable to. It looks like a transient error on the main chocolatey feed, not related to the ROS feed. Can you attempt to reproduce? If you can, could you post the chocolatey log located in your install at `c:\ProgramData\chocolatey\logs\chocolatey.log`?

[2019-12-02 18:42] JoelTari commented on #167
It might be indeed. I reproduced the command, but this time it worked without any change.

Thank you anyway, here is the log just in case:

2019-12-01 17:32:39,052 14184 [INFO ] - Upgrading the following packages:
2019-12-01 17:32:39,052 14184 [INFO ] - gazebo9
2019-12-01 17:32:39,052 14184 [INFO ] - By upgrading you accept licenses for the packages.
2019-12-01 17:32:39,114 14184 [WARN ] - gazebo9

[2019-12-04 18:54] ooeygui commented on #167
Thank you for letting us know that it was a transient error. Closing.

[2019-12-04 18:54] #167 closed

[2019-12-04 18:54] #166 closed

[2019-12-12 07:12] chrislgarry opened #168 "Support for realsense-ros"
Is there any support for https://github.com/IntelRealSense/realsense-ros ?

In an older issue, someone had mentioned Microsoft was working on it:
https://github.com/IntelRealSense/realsense-ros/issues/853

I'd love to develop on Windows but having to port this node myself would be a no-go for me. I want to get realsense data broadcasted from my ROS node on Linux to a ROS node on Windows.

Any advi

[2019-12-16 14:38] OliHas opened #169 "rosrun with python files is not working"
Thank you for the 'Getting started/UsingROSOnWindows' Introduction.

I'm unable to run the following command:
[code]
But this works:
[code]

Regarding the [Python](https://github.com/ms-iot/ROSOnWindows/blob/master/GettingStarted/UsingROSonWindows.md#python) section, it is unclear to me, how I should rename the [python file](https://github.com/ms-iot/ROSOnWindows/blob/master/GettingStarted/UsingRO

[2019-12-16 18:18] ooeygui commented on #169
Thank you for the report. I think there was a regression in the rosrun.bat file - it should do a deep find on the script file. investigating.

[2020-01-01 00:00] ooeygui opened #170 "[ROS][Chocolatey] Installer should offer to shut down running ROS instance."
When upgrading ROS, the Chocolatey installer should attempt to check for a running ROS instance, and if possible - offer to shut down the instance - before installation.

[2020-01-07 15:42] CesMak opened #171 "access denied when installing"
Hey there,

when installing moveit in Windows10 I got access denied:

`C:\WINDOWS\system32>choco upgrade ros-melodic-moveit -y                                                                 Chocolatey v0.10.15                                                                                                     Upgrading the following packages:

[2020-01-07 16:06] CesMak commented on #171
Could solve this issue. Just had to restart PC access was denied cause of gzserver still running in background. You can close this issue.

[2020-01-07 20:12] ooeygui commented on #171
@CesMak
Thank you for the report. gzserver should shut down when the rest of the ROS graph does. We're going to be doing a Gazebo robustness spike in February, so we'll look into this.

[2020-01-09 12:32] VinceValence commented on #139
I'm also experiencing this issue. I would appreciate if someone addressed it. Thank You.

[2020-01-17 22:52] seanyen commented on #93
The fix is merged from the upstream. Closing it.

[2020-01-17 22:52] #93 closed

[2020-01-21 20:54] ooeygui commented on #133
Closing due to inactivity. Please reactivate if you are still hitting this issue.

[2020-01-21 20:54] #133 closed

[2020-01-23 00:52] seanyen commented on #164
This one is fixed in the latest prerelease build so I am closing it.

[2020-01-23 00:52] #164 closed

[2020-01-23 00:56] seanyen commented on #144
Now the `ros_comm` moved to use `pycryptodome` (https://github.com/ros/ros_comm/pull/1609) and I authored that in the rosdistro-db (https://github.com/ms-iot/rosdistro-db/pull/42). I verified it is no longer reproduced in the latest prerelease, so I am closing it.

[2020-01-23 00:56] #144 closed

[2020-01-23 01:23] ooeygui commented on #108
Looking to see if the new terminal has this feature.

[2020-01-23 21:50] seanyen opened #179 "[bug] A pip incident causes only older releases to be installed for some PyPi modules."
Beginning two days ago, for some `PyPi` modules, `pip` is only able to discover older releases for them (For example, it can only discover `cmake 3.13` but not the latest `cmake 3.15`).

As the consequence, if you install `ROS on Windows` within the period of the incident happening, you might not be able to retrieve and install all the required and the latest `PyPi` modules correctly and it could

[2020-01-24 17:04] qwe0254 opened #180 "The code execution cannot proceed because ".dll" file was not found. Reinstalling the program may fix the problem."
**Describe the bug**
The code execution cannot proceed because ".dll" file was not found. Reinstalling the program may fix the problem.

**To Reproduce**
# catkin_make
Base path: C:\temp_ws
Source space: C:\temp_ws\src
Build space: C:\temp_ws\build
Devel space: C:\temp_ws\devel
Install space: C:\temp_ws\install
####
#### Running command: "nmake cmake_check_build_system" in "C:\temp_ws\build"
####

[2020-01-24 18:17] seanyen commented on #180
@qwe0254 Thanks for the reporting. Did it show what `DLL` causes the problem? And for your project, what does the dependency look like?

[2020-01-24 19:33] ooeygui commented on #180
Please check our the [Porting Cookbook](https://ms-iot.github.io/ROSOnWindows/Porting/Cookbook.html). Under the Symbols Visibility section, is a node about Gflags.exe - a Windows tool which helps identify export resolution issues.

If you can attach a screen shot of the dialog causing the problem, that would be helpful as well.

[2020-01-25 02:28] qwe0254 commented on #180
Sorry for the late reply. It took me a while to figure out the debugging tools.

After getting the debugging tools, I ran catkin_make again. Surprisingly, I got an error this time (with the same code).

**CATKIN_MAKE**
Base path: C:\temp_ws
Source space: C:\temp_ws\src
Build space: C:\temp_ws\build
Devel space: C:\temp_ws\devel
Install space: C:\temp_ws\install
####
#### Running command: "nmake cm

[2020-01-26 16:19] qwe0254 commented on #180
I suspect that the first error occurred because ROS couldn't traverse to a correct path. That was why it built, yet ran with a missing library error.

[2020-01-29 21:38] seanyen commented on #179
This is resolved by the upstream, so I am closing it.

[2020-01-29 21:38] #179 closed

[2020-02-01 17:33] #180 closed

[2020-02-03 17:15] erenaud3 opened #187 "boost_system 1.66 DLL missing after fresh install (can't roscd nor catkin_make)"
**Describe the bug**
Hi !

After a fresh install, I am having errors related to boost_system 1.66DLL. I followed the installation instructions [here](http://wiki.ros.org/Installation/Windows). I already tried to start a new installation: I ran into the exact same issue.

It seems that this error can be observed at two places:
 - when I try to catkin_make my workspace (with a simple ROS package, se

[2020-02-03 17:47] erenaud3 commented on #187
Okay I think I found my main problem : I was trying to install ros melodic behind a corporation proxy. For some reason, the process ends like it was successful but it didn't download all the dependencies like gazebo, tinyxml, and gazebo9.

For anyone coming accross the same issue:  I think the easiest way is to install ROS outside of your corporation network.
Or alternatively, set-up proxy for: ch

[2020-02-03 17:47] #187 closed

[2020-02-03 19:42] seanyen commented on #119
The `sutesparse` now is mapped to the `vcpkg` port and that should fix this issue. https://github.com/ms-iot/rosdistro-db/pull/44

I'm closing this issue now.

[2020-02-03 19:42] #119 closed

[2020-02-03 19:45] seanyen commented on #40
This is fixed, so I am closing it.

[2020-02-03 19:45] #40 closed

[2020-02-04 00:58] seanyen commented on #151
The fix is merged by the upstream, so I am closing it.

[2020-02-04 00:58] #151 closed

[2020-02-04 23:36] seanyen commented on #13
I cannot reproduce this problem, so I am closing it.

[2020-02-04 23:36] #13 closed

[2020-02-04 23:40] seanyen commented on #3
This is no longer reproducible. Using `ctrl-c` can shutdown the `rosrun` correctly. I am closing it now.

[2020-02-04 23:40] #3 closed

[2020-02-06 20:53] ig-or commented on #107
Hello! still having this issue; tried to install ROS about 50 times in a different ways; the result is the same

[code]

[2020-02-06 20:55] ooeygui commented on #107
@ig-or Are you by chance behind a proxy?

[2020-02-06 21:15] ig-or commented on #107
THANKS a lot for a so quick answer.....  Actually I did it successfully on two Windows10 PCs, but with different Window10 build version and everything was OK..  But on this PC there were issues.

Now I suspect I just forget to install git first, I can see installation progress.. Let you know it it installed OK in 20 minutes.

[2020-02-10 07:58] dobbory opened #189 "Security-related error at catkin build"
Can a security program cause a build to fail?

[2020-02-10 09:18] seanyen commented on #189
@dobbory Could you be more specific? What error did you see? Any steps to reproduce the error? And what security program do you run? Did turning it off help?

[2020-02-10 17:33] ooeygui commented on #189
In general, yes, a Security program can cause a build to fail. While we have not documented any cases with ROS on Windows after install, we have seen Chocolatey installs blocked which can cause a build failure.

- Can you post the output of `catkin_make`?
- Can you post the chocolaty log file: `c:\ProgramData\Chocolaty\logs\chocolaty.log`

[2020-02-10 23:28] ooeygui commented on #78
This has been tracked for awhile; but has not manifested in several releases. Closing.

If you do come across a new repro, please attach a stack trace of the crashing process.

[2020-02-11 00:21] seanyen commented on #139
This is merged by the upstream. Closing it.

[2020-02-11 00:21] #139 closed

[2020-02-17 04:57] ooeygui opened #191 "[ROS2][Dashing] Build break installing ros-dashing-desktop --pre"
Using cached pygraphviz-1.5.zip (117 kB)
Installing collected packages: pygraphviz
    Running setup.py install for pygraphviz ... error

    graphviz_wrap.c
    pygraphviz/graphviz_wrap.c(2987): fatal error C1083: Cannot open include file: 'graphviz/cgraph.h': No such file or directory
    error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Tools\\MSVC\\14.24.28

[2020-02-19 19:46] ooeygui opened #194 "[Feature Request] Support Process Priority in launch files"
Some ROS nodes need to have higher priority execution - either generating data or maintaining a heartbeat on hardware. While it is possible to do this today from 'within' the node using OS features, it becomes problematic when tuning the whole system.

Wouldn't it be cool if we can declare a relative priority from within a launch file? This way the implementer of the solution can determine the ove

[2020-02-19 19:52] gavanderhoorn commented on #194
Are you thinking of doing something with the [launch-prefix](https://wiki.ros.org/roslaunch/XML/node#Attributes) attribute?

[2020-02-19 21:34] ooeygui commented on #194
Oooh! - that's a good solution. It doesn't require changing infrastructure.

Sean mentioned that there's a process priority conversation in the ROS2 TSC.

[2020-02-20 10:36] gavanderhoorn commented on #194
Doing it in a platform agnostic way -- without needing to change anything else -- could probably be done by using an intermediate executable or script which checks which OS it is being executed on and then delegates to whatever tool could be used to run processes with required priorities (and other configuration).

If you don't care about being OS agnostic you could just use `start` with `/AboveNo

[2020-02-24 14:38] mgdelmonte commented on #105
What's the status on moveit_tutorials for windows?  The docs at https://ms-iot.github.io/ROSOnWindows/Moveit/moveit_tutorials.html currently say to use

`git clone https://github.com/ms-iot/moveit_tutorials -b init_windows`

but there is no `init_windows` branch in that repo -- and never has been.

Attempting to build from `master` fails with `fatal error C1083: Cannot open include file: 'moveit/c

[2020-02-24 14:55] mgdelmonte opened #196 "catkin_make fails to find proper python env"
The setup script `c:\opt\ros\melodic\x64\setup.bat` properly sets the `PYTHONHOME` env var, but it does not set `PYTHON_EXECUTABLE`, which `catkin_make` references independently.  On a system with many python interpreters, this means `catkin_make` uses the wrong environment entirely (it uses the environment of the first-found interpreter, and not the one in PYTHONHOME).

I'd call this a bug in `ca

[2020-02-24 14:59] wkeram commented on #105
I'm facing the same issue as @mgdelmonte. Any help would be great.

[2020-02-24 15:11] ooeygui commented on #105
Thanks for the ping on this. @lilustga is working on the MoveIt tutorials.

[2020-02-24 15:18] ooeygui commented on #196
Thank you for the writeup and investigation. We've been trying to map the ROS environment to a locally installed python path in c:\opt, so that it is isolated from potentially tainted environments outside of the ROS environment.

[2020-02-24 18:08] ooeygui opened #197 "[ROS2][Dashing] local_setup.bat can't find other batch files"
When running local_setup.bat, the following 4 batch files are listed as missing.
[code]

[2020-02-24 18:39] seanyen commented on #197
They seem to share something in common. Their projects are all skipped on Windows build.

https://github.com/ros2/realtime_support/blob/583ffcdf68af70a7e5f4f1abb0e6ed7a7c123247/rttest/CMakeLists.txt#L6

https://github.com/ros2/demos/blob/fab4fc38d5ea589c019659d6a49da4ba9c20594b/pendulum_control/CMakeLists.txt#L6

[2020-02-24 19:50] seanyen commented on #6
I am closing it now since the fix is merged by the upstream.

[2020-02-24 19:50] #6 closed

[2020-02-25 21:11] seanyen commented on #148
Closing it because the fix is merged by the upstream.

[2020-02-25 21:11] #148 closed

[2020-02-25 23:54] seanyen commented on #159
Closing it since the original `BLAS` issue was solved.

[2020-02-25 23:54] #159 closed

[2020-02-26 22:06] ooeygui commented on #197
Seems like it should be nuked from the bat file since they aren't on the win build.

[2020-03-03 05:39] SlyLi commented on #161
Hi @nikhiljgeorge @ooeygui
 I have met the same error, so how could I make it work?

[2020-03-03 05:43] ooeygui commented on #161
Reopening - fix in flight.

[2020-03-03 06:08] SlyLi commented on #161
Actually I have tried to solve it by installing pthread on my window. It didn't work and generated cmakeerror.log and cmapkeoutput.log in catkin_win\build\CMakeFiles. Then, I add a piece of code to pthread.h .

[code]
I tried to run it again. It still didn't work, but it only generated camkeoutput.log

[2020-03-03 18:33] lilustga commented on #161
Try building only the moveit tutorial package and it's dependencies:
catkin_make_isolated --only-pkg-with-deps moveit_tutorials --install

[2020-03-06 18:02] seanyen opened #199 "Missing environment variables for ROS 2 on Windows"
After `choco install ros-elquent-desktop -y --pre` and running `local_setup.bat`, all the environment should be all set and ready to use ROS 2. However, currently there are some environment variables missing.

## Workaround: (UPDATED on May/29/2020)

We made some progress to simplify the environment bootstrap after ROS 2 installation. However there are required [changes](https://github.com/colcon/

[2020-03-06 21:49] ooeygui commented on #199
Verified workaround

[2020-03-12 23:04] ooeygui opened #200 "CameraInfo URL manager does not handle file:// prefixes correctly"
Required workaround for https://github.com/ms-iot/ros_win_camera/pull/3
[code]

[2020-03-18 08:55] wkeram commented on #105
Thanks for updating the docs. I was now able to build it.
However, if I follow the MoveIt Tutorials and try

`roslaunch panda_moveit_config demo.launch rviz_tutorial:=true`

it fails with
`RLException: included file [C:\moveit_ws\src\panda_moveit_config\launch\planning_context.launch] requires the 'True' arg to be set`.

From the log file:

Any ideas how to fix that error?

[2020-03-18 16:28] lilustga commented on #105
Hi @wkeram,

Glad the updated docs worked to fix your build issues.

I haven't seen the "requires the 'True' arg error before but I'll look into it.

For now, one thing to try would be remove the single quotes (or replace with `&quot;`) in the commands in planning_context.launch as they don't work correctly on Windows. This open PR has the single quote replacement. Still discussing the best long t

[2020-03-18 17:48] wkeram commented on #105
Hi @lilustga,

I already removed the single quotes as I encountered the same error as described in issue #106.
After that I had the "requires the 'True' arg" error.

It would be great if you could help me.

[2020-03-18 18:15] lilustga commented on #105
Which branch/remote repository did you clone from?

[2020-03-18 21:14] wkeram commented on #105
I followed the instructions in the docs:
`git clone https://github.com/ros-planning/moveit_tutorials.git -b melodic-devel`
`git clone https://github.com/ros-planning/panda_moveit_config.git -b melodic-devel`
`git clone https://github.com/frankaemika/franka_ros-release -b release/kinetic/franka_description`

I also tried `git clone https://github.com/frankaemika/franka_ros-release -b release/melodi

[2020-03-21 08:26] lilustga commented on #105
hi @wkeram,

I've tried to reproduce your error but so far been unable to. Is it possible that an error was introduced in planning_context.launch? The error message seems nonsensical to me. Perhaps try replacing it with this version:
https://github.com/ms-iot/panda_moveit_config/blob/melodic-devel/launch/planning_context.launch

[2020-03-21 14:52] YoushaaMurhij commented on #45
This issue is not fixed, yet!

[2020-03-21 14:55] YoushaaMurhij commented on #78
I am facing the exact same problem! URDF files won't show in Gazebo!

[2020-03-23 17:05] ooeygui commented on #78
@YoushaaMurhij Thank you for reporting. Can you point me to the repo which reproduces this crash?

[2020-03-23 17:06] ooeygui commented on #45
@YoushaaMurhij rViz and Gazebo require a GPU instance when running in the cloud. Can you confirm that you've used an NV6, NV12 or an NV24 instance as described in the [ROS Azure VM Doc](https://ms-iot.github.io/ROSOnWindows/ROSAtMS/ROS1AzureVM.html)

[2020-03-24 12:06] YoushaaMurhij commented on #78
It is Turtlebot3 repo.
I followed the instructions in the web page below:
https://ms-iot.github.io/ROSOnWindows/Turtlebot/Turtlebot3.html

[2020-03-27 17:47] uchuuengineer commented on #78
I noticed I have the same problem when running
`roslaunch turtlebot3_gazebo turtlebot3_gazebo_cartographer_demo.launch`
on my work computer, running Windows 10 Enterprise. However, when I repeated the same steps on my personal PC, I did not have this error at all and it worked fine. On my work laptop, I tried to reinstall from scratch, but every time when running the launch file I get the followin

[2020-03-27 17:53] seanyen commented on #78
This one looks fishy to me. Can you try `choco upgrade ros-melodic-desktop_full -y --pre` to the latest daily build and see if this problem goes away?

Recently there are some Python3 migration movement which might break some Python packages, and the fix is merged [here](https://github.com/ros/catkin/pull/1070).

[code]

[2020-03-27 22:58] lilustga commented on #105
@wkeram, any update on this? Did that work?

[2020-03-30 13:35] void32 opened #202 "sensor_msgs.msg"
**Describe the bug**
Can't import from sensor_msgs.msg

**To Reproduce**
cd c:\opt\ros\melodic\x64\
c:\opt\ros\melodic\x64>
python

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named msg

**Expected behavior**
Import Image from sensor_msgs.msg with no errors.

**Environment information:**
 - OS version: Windos 10 (OS Build 19541. 1000)
 - Chocolat

[2020-03-30 17:11] ooeygui commented on #202
@void32 From what's presented, It appears that you aren't sourcing the ros environment. Your chocolatey versions are missing - all of the ROS chocolatey packages.

Can you do a `set ChocolateyInstall`?
You should see:
[code]

And if you do `set ROS`, you should see:
[code]

And of you do `where python` you should see:
[code]

Let me know what doesn't match your environment.
Thank you.

[2020-03-31 07:57] gavanderhoorn commented on #202
I believe a similar case on ROS Answers: [Error importing sensor_msgs/JointState](https://answers.ros.org/question/347925).

[2020-03-31 12:39] aSorathia commented on #202
@ooeygui  I have the similar issue for me all the environment variable matches as yours

[2020-03-31 15:25] void32 commented on #202
Hi ooeygui,
Thanks for the quick reply, and bringing ROS to Windows :-)
Just to be clear, by sourcing you mean run the setup.bat in C:\opt\ros\melodic\x64?

My out seams to fit yours
[code]
Btw I've found a workaround by replacing sensor_msgs-1.12.7-py2.7.egg with a zip of the sensor_msgs folder. This works for me because all I'm currently using from ROS, is extracting data from rosbags in a pytho

[2020-04-02 16:33] asasine commented on #202
Hi @void32, I tried your mitigation and it didn't work for me. Are these the correct steps?
1. Delete the _C:\opt\ros\melodic\x64\lib\site-packages\sensor_msgs-1.12.7-py2.7.egg_ file (or move it to another directory as backup)
1. Zip _C:\opt\ros\melodic\x64\lib\site-packages\sensor_msgs\_ as _sensor_msgs.zip_
1. Place _sensor_msgs.zip_ at path _C:\opt\ros\melodic\x64\lib\site-packages\sensor_msgs.

[2020-04-02 16:54] ooeygui commented on #202
We are preparing an updated release.

[2020-04-02 19:17] aSorathia commented on #202
@asasine To make successful egg file Create a new folder somewhere in the system
Copy sensor_msgs folder into the new folder and create a blank file inside sensor_msgs folder and rename it as `__init__.py`
inside the new folder create `setup.py` file and add this script

[code]
`find_packages()` does not work if any folder does not have `__init__.py` file
save it.
Your dir structure should look li

[2020-04-02 20:20] seanyen commented on #202
Hi folks, I pushed a version `20200402.1.0` and the latest should have this `sensor_msgs` issue (and all Python egg problems) fixed.

[2020-04-03 17:02] asasine commented on #202
Version `20200402.1.0` fixes the issue for me! Thank you!

[2020-04-07 20:41] seanyen commented on #202
This is fixed by the latest release, so I am closing it.

[2020-04-07 20:41] #202 closed

[2020-04-08 17:41] seanyen opened #203 "vcpkg: Vcpkg is not installed"
This is a cross-post for the issues reported here:
*  https://answers.ros.org/question/348689/error-installing-ros-on-windows10/
*  https://answers.ros.org/question/348731/roswin10-vcpkg-vcpkg-is-not-installed/

~We are investigating this issue. For whoever lands here because of hitting this issue, please kindly share your `c:\opt\chocolatey\logs\chocolatey.log`. That would help us better understa

[2020-04-09 00:07] DanielSepeda commented on #203
@seanyen @ooeygui
Attached is my chocolatey log. I created the post on https://answers.ros.org/question/348689/error-installing-ros-on-windows10/

[chocolatey.log](https://github.com/ms-iot/ROSOnWindows/files/4453327/chocolatey.log)

[2020-04-09 04:23] boomboompsh commented on #203
Attached is my chocolatey log, I had the same problem.
[chocolatey.log](https://github.com/ms-iot/ROSOnWindows/files/4454017/chocolatey.log)

[2020-04-09 16:33] seanyen commented on #203
Hi all, a version of ` 20200409.2.0` is released and this should be addressed. Let me know if you still run into this issue. Thanks!

[2020-04-10 20:47] void32 commented on #202
I've [tested it](https://wiki.ros.org/Installation/Windows) and can confirm that it works.

[2020-04-11 22:34] dweekly commented on #203
Hi - new ROS user installing for the first time ever on Windows 10; I'm running into this issue even after specifically running a "choco upgrade ros-vcpkg" first.

Still seeing "ERROR: the following rosdeps failed to install" vcpkg: Vcpkg is not installed". This is with ros-melodic-desktop_full V20200409.2. This is on Windows 10 1909 (OS Build 18363.752) and Visual Studio Community Edition 2019; f

[2020-04-11 22:41] seanyen commented on #203
@dweekly Thanks for reporting, can you check if `c:\opt\vcpkg\vcpkg.exe` is created after the broken install?

[2020-04-12 00:56] dweekly commented on #203
Ah, it was not. My issue was caused by https://github.com/ms-iot/ROSOnWindows/issues/153

[2020-04-12 00:57] dweekly commented on #153
I ran into this issue when installing ROS for the first time. Had to manually delete c:\opt\vcpkg to successfully reinstall vcpkg.exe

[2020-04-13 19:56] dejongyeong commented on #53
Hi. I would like to know is that solved? I'm facing the same issue as well

[2020-04-13 20:15] ooeygui commented on #53
This bug was that rosrun could not find the python file. We have fixed that problem. (Verified today)

Can you share more information? What do you see in the console?

[2020-04-13 20:18] dejongyeong commented on #53
@ooeygui When I try to run the command, it gave me this:
![image](https://user-images.githubusercontent.com/22542203/79157272-39846600-7dcc-11ea-96d9-3f4d859efbd0.png)

and in the folder, there's no python file.
![image](https://user-images.githubusercontent.com/22542203/79157338-5456da80-7dcc-11ea-95f4-d469b8d878fd.png)

Thanks.

[2020-04-13 20:46] ooeygui commented on #53
That looks like WSL, not Native ROS on Windows. You cannot run UI applications like calibration in WSL. check out http://aka.ms/ros for running ros on windows.

[2020-04-14 14:18] zhangzhaoweii opened #204 "Communication with Ubuntu ROS on another device"
Describe the bug
Hi,I want to receive pointcloud2 message from another device which is using Ubuntu ROS，but there are no host and bashrc files in C:\opt\ros\melodic\x64. How can I set the hostname and IP in windows?

Expected behavior
Set the IP and hostname in ROSOnWindows .

Environment information:
 - OS version: windows10 1909(18363.720)
 - Chocolatey Versions: Chocolatey v0.10.15

Thanks in a

[2020-04-14 17:59] ooeygui commented on #204
When you start the shell, you pass it a batch file. Today, we recommend you call directly into c:\opt\ros\melodic\x64\setup.bat.

For your scenario, you'll instead make your own setup.bat file in your user account (say c:\user\zhangzhaoweii\setup_ros.bat), which looks something like this:
[code]

and point your terminal.

Second, the Windows HOSTS file is located in `c:\Windows\System32\drivers\et

[2020-04-14 17:59] #204 closed

[2020-04-17 02:58] ooeygui opened #207 "[Workaround] Failing to upgrade due to Can not open output file"
You may encounter a problem upgrading. This is due to an external change which converts a binary release do a directory.
[code]

Please delete the affected files and upgrade.

This will be fixed in a future release with:
https://github.com/ms-iot/ros-windows-build/pull/81

[2020-04-21 23:59] missxa opened #208 "python3 support"
Your docs clearly state

but is it possible to build ROS on Windows with python>=3.6 support?

[2020-04-22 01:42] seanyen commented on #208
@missxa For ROS, there are `ROS 1` and `ROS 2`. For `ROS 2`, the Python 3 is already the target runtime and you can find more information [here](https://index.ros.org/doc/ros2/Installation/Eloquent/Windows-Install-Binary/). For the `ROS 1`, [`Noetic`](https://github.com/ros-infrastructure/rep/blob/master/rep-0003.rst#noetic-ninjemys-may-2020---may-2025) will be the release focused on Python 3.7/3.

[2020-04-22 11:20] missxa commented on #208
I meant ROS 1, sorry I wasn't precise about that.
So noetic releases in May as I can see. Are there any build instructions  from source already available?

[2020-04-24 00:18] seanyen commented on #203
Closing it since the fixed release is out.

[2020-04-24 19:23] seanyen commented on #146
Now we switched to consume the vcpkg port, and https://github.com/microsoft/ros_azure_iothub has been switched to consume the port.

[2020-04-24 19:23] #146 closed

[2020-04-25 03:20] dsato9 commented on #153
I am currently having a similar problem.
[code]
Attached are my logs

[2020-04-25 07:29] songyuc opened #210 ""AttributeError: 'EdgeItem' object has no attribute '_path'" When Running qt_graph"
**Describe the bug**
Hi guys,
I am learning about ROS2 on Windows 10 today, and when I run qt_graph, an error appeared as:

And I want to know how to fix this.
Thanks in advance!

**To Reproduce**
Steps to reproduce the behavior:
* To run turtlesim, open a new terminal, and enter the following command:
`ros2 run turtlesim turtlesim_node`
* Open another new terminal and start the teleop node with t

[2020-04-25 12:51] andyworkingholiday commented on #203
Can you know me where is fixed release??
I'm having exactly the same issue.

[2020-04-25 15:15] ooeygui commented on #203
Hi @andyworkingholiday ,
Sorry the resolution was not clear. To fix your install, please rerun the upgrade command:
`choco upgrade ros-melodic-desktop_full -y --execution-timeout=0`

[2020-04-26 01:12] ooeygui opened #211 "[bug] Default CMakeLists.txt has template items which aren't cross platform"
The Default CMakeLists.txt should be cross platform.

[code]

[2020-04-27 09:33] lwoffice commented on #203
Hi, I also have the same trouble.

I have installed VC2019 community (because I do not want to mess with my 2017 work license) just today and added the desktop C++ package, so that should be there.

I followed this "http://wiki.ros.org/Installation/Windows" until 5.1 and ran into the problem.
I found the "solution" from the first post, which did not change anything, I still got the same error mess

[2020-04-27 15:26] ooeygui commented on #153
Hi @dsato9 Sorry for the delay,
Thank you for posting the log files. There is an error emanating from rosdepInstall.bat, but chocolatey didn't capture the output in the chocolatey log.

Can you run:
`c:\opt\chocolatey\lib\ros-melodic-desktop_full\tools\rosdepInstall.bat`

[2020-04-27 15:42] ooeygui commented on #203
@lwoffice, I have a hypothesis.

To confirm, is there `c:\opt\vcpkg\vcpkg.exe`?

If not, can you:
[code]

and post the output?

[2020-04-27 15:51] lwoffice commented on #203
Well, I am currently figuring it out and it has to do with messed up Path variables. This is what I have right now:

I partly solved the issue by starting from scratch.  I found that my Windows settings missed an entry in the PATH variable for Powershell (%SYSTEMROOT%\System32\WindowsPowerShell\v1.0\)

As a result, the installation of the vcpkg outputs a message which can be quickly overlooked and

[2020-04-27 16:20] ooeygui commented on #168
I've issued a pull request to Intel - https://github.com/IntelRealSense/realsense-ros/pull/1147. Please feel free to ping that pull request .

I'm going to close this here as this is an external package.

[2020-04-27 16:20] #168 closed

[2020-04-27 16:21] ooeygui commented on #207
This has been fixed in the latest build

[2020-04-27 16:21] #207 closed

[2020-04-27 16:22] ooeygui commented on #203
Thank you for investigating.

The vcpkg bootstrap script does not use a full path to powershell:
`powershell.exe -NoProfile -ExecutionPolicy Bypass "& {& '%~dp0scripts\bootstrap.ps1' %*}"`

(the ROS install is explicit about calling powershell by full path to install chocolatey)

Can you run `c:\opt\chocolatey\lib\ros-melodic-desktop_full\tools\rosdepInstall.bat` and paste the output?

[2020-04-27 23:12] dsato9 commented on #153
I tired to run
`c:\opt\chocolatey\lib\ros-melodic-desktop_full\tools\rosdepInstall.bat`

however i received the following error code, and have tried manually checking the file path and i do not have "ros-melodic-desktop-full" in the file path
![chocolatey file path](https://user-images.githubusercontent.com/62724926/80429838-b7df0e80-8888-11ea-959b-f2ffff5bf624.PNG)
![chocolatey_error1](https://us

[2020-04-27 23:16] ooeygui commented on #153
Chocolatey sometimes will move a package that failed into a lib-bad path, if you have:
`c:\opt\chocolatey\lib-bad\ros-melodic-desktop_full\tools\rosdepInstall.bat`

Can you run it and check the output?

[2020-04-27 23:35] dsato9 commented on #153
it would run, then get a point where it would display something about depreciation, python 2.7.... even though i do have python 3.7 installed. then close my command prompt window with out any additional prompts

[2020-04-27 23:44] ooeygui commented on #153
When you run `python --version` in that command window, what version is output?

[2020-04-27 23:51] dsato9 commented on #153
it does show 2.7.15. but my python is 3.7.5
![python](https://user-images.githubusercontent.com/62724926/80431817-2e323f80-888e-11ea-8246-4888bcfecca4.PNG)

[2020-04-27 23:59] ooeygui commented on #153
ROS Melodic isn't supported on Python 3.7 which is why the ROS installer injects 2.7 into c:\opt. Are you attempting to run the commands in a python 3.7 console?

ROS Noetic will support Python 3.7+

[2020-04-28 00:03] dsato9 commented on #153
I am trying to run ros melodic because other parts of the project that i am working on are built on melodic. are there compatibility issues if i use noetic?

[2020-04-28 00:07] ooeygui commented on #153
There are compatibility problems going across distros, so is not generally supported.

I think what has happened is that Python 3 is being picked up instead of python 2.7, which would affect rosdep install.

Can you remove python 3 from your system path and relaunch the command window?

[2020-04-28 09:10] lwoffice commented on #203
That was not successful, but I recognized some (probably) strange folder issues.

In the c:\opt\chocolatey\lib" I only have the "ros-vcpkg" folder. There are no further subfolders. Whenever I use the install procedure for ros (choco upgrade ros-melodic-desktop_full ... ), this "ros_melodic..." folder is created in "C:\ProgramData\chocolatey\lib" and after it fails it is automatically moved into th

[2020-04-28 09:31] songyuc opened #212 "[ROS2] "OSError: [WinError 193] %1" When Running "ros2 run rqt_console rqt_console""
**Describe the bug**
I am learning about ROS2 on Windows 10 today,
and when I run `ros2 run rqt_console rqt_console`,
 an error appeared as:

  File "E:\dev\ros2-eloquent\ros2-windows\Scripts\ros2-script.py", line 11, in <module>
    load_entry_point('ros2cli==0.8.7', 'console_scripts', 'ros2')()
  File "E:\dev\ros2-eloquent\ros2-windows\Lib\site-packages\ros2cli\cli.py", line 69, in main
    rc =

[2020-04-28 17:14] ooeygui commented on #203
Thank you for working with us on this, I really do appreciate it.

The console window crashing is quite ominous. What version of Windows are you using? (I can't tell from the screen shot).

I noticed that you have mingw32 in your path, I'm a bit worried that the inherited environment is causing compatibility problems. ROS is quite sensitive to the host environment, which is why we've tried to isol

[2020-04-29 08:14] lwoffice commented on #203
Version is Win 10 Pro 1809 (Build 17763.1098).
shortcut: well ... I was stuck at section 5.1 in the installation manual, and that hint to the cmd is in section 6, I just did not continue reading the manual :D

After all, I figured it out. I completely removed the c:\opt and the c:\ProgramData\chocolately folders to get rid of the crappy installations before. I restarted all steps from section 4, b

[2020-04-29 17:42] ooeygui commented on #203
I'm glad you figured it out.

We had put it in this order because setup.bat won't exist the first time around which causes an error launching the script.

I'll add some clarity to the doc. We decided to move the chocolatey install into the c:\opt directory so that it was self-contained. you can reinstall ROS by removing c:\opt or move the install to another machine by copying c:\opt. That said, we

[2020-04-30 09:16] songyuc opened #213 "[ROS2] "RuntimeError: VisualStudioVersion is not set, please run within a Visual Studio Command Prompt." When Running "colcon build --merge-install""
**Describe the bug**
I am learning about ROS2 on Windows 10 these days,
and I try building the workspace with `colcon`, with the command `colcon build --merge-install`.
An error appears as,

**To Reproduce**
Steps to reproduce the behavior:
* Follow the tutorial [Creating a workspace](https://index.ros.org/doc/ros2/Tutorials/Workspace/Creating-A-Workspace/#creating-a-workspace)
  * follow the guid

[2020-04-30 17:32] ooeygui commented on #213
Hi there,
Based on the error, it looks like you aren't running the command from a visual studio command prompt. Can you confirm what the shortcut looks like that launched the command window?

[2020-05-04 10:48] songyuc commented on #213
Thanks @ooeygui , and I have resolved this issue by the information from [Ros2 windows10 colcon build fails on ros2_example_ws tutorial [closed]](https://answers.ros.org/question/317475/ros2-windows10-colcon-build-fails-on-ros2_example_ws-tutorial/?answer=320193#post-id-320193).

[2020-05-04 10:48] #213 closed

[2020-05-04 10:59] songyuc opened #214 "[ROS2] "colon" building turtlesim package failed"
**Describe the bug**
I am learning about ROS2 on Windows 10 today,
and the "colon" building turtlesim package failed as the tutorial, [5 Build the workspace with colcon](https://index.ros.org/doc/ros2/Tutorials/Workspace/Creating-A-Workspace/#build-the-workspace-with-colcon)

**To Reproduce**
Steps to reproduce the behavior:
* Follow the tutorial [Creating a workspace](https://index.ros.org/doc/ro

[2020-05-04 14:18] missxa opened #215 "[ROS2] Build from source // Exception in shell extension 'bat'"
I'm trying to build ROS2 eloquent from source by following steps described [here](https://index.ros.org/doc/ros2/Installation/Eloquent/Windows-Development-Setup/).

When I run (after completing the steps required before that)
[code]
it fails with the following output:
[code]

When I call `colcon_command_prefix_setup_py.bat`, it results in `The syntax of the command is incorrect.`

I installed ROS2

[2020-05-04 16:09] ooeygui commented on #215
@lilustga can you take a look at this?

[2020-05-04 16:17] missxa commented on #215
I thought it might be a problem with my Python (I had 3.7 installed with the official installer), so I installed python 3.7.5 from choco (and removed all other installations), but the issue persists.

[2020-05-04 16:21] ooeygui commented on #215
Could you elaborate on why you building ROS2 from source?

(Knowing this will help us with documentation and scripts. We'll be working to improve the workflow - both on customer setup as well as build)

[2020-05-04 16:26] missxa commented on #215
I want to make my node a standalone executable, so I need to compile static libs for rclcpp, etc.
The idea is to omit the full ROS2 installation on the end-user PC. Does that make sense?

[2020-05-04 16:33] ooeygui commented on #215
Thank you for the explanation. The installation is quite complex, and we too are investigating how to improve it.

[2020-05-04 19:05] lilustga commented on #215
I noticed it does say python3 version 3.8.2 in your listed choco packages. Is that outdated from before you switched to 3.7.5?

Is python added to the path? If not, try adding it before building e.g:
`set "PATH=C:\opt\python37amd64\DLLs;C:\opt\python37amd64\;C:\opt\python37amd64\Scripts`

[2020-05-04 21:15] missxa commented on #215
yea, 3.8.2 was outdated (also then I was using the official installation with 3.7, not choco).

Thanks for the pointer to look at the `PATH`. I did have python in the `PATH` (only `DLLs` folder was missing), but my pythonpath was `PYTHONPATH=c:\Python37"` and likely that quotation was causing path issue in batch files... 🤦

[2020-05-04 21:15] #215 closed

[2020-05-04 21:51] johnwason commented on #207
I am still seeing this issue trying to upgrade `ros-melodic-desktop_full v20200409.2`

[code]

[2020-05-05 17:36] yrzhanov opened #216 "wstool fails on ros_tutorials"
Running
wstool init src melodic-ros_comm.rosinstall
proceeds fine until:

Exception caught during install: Error processing 'ros_tutorials' : [ros_tutorials] Checkout of https://github.com/ms-iot/ros_tutorials.git version init_windows into C:\ros_catkin_ws\src\ros_tutorials failed.

ERROR in config: Error processing 'ros_tutorials' : [ros_tutorials] Checkout of https://github.com/ms-iot/ros_tutori

[2020-05-05 17:40] ooeygui commented on #216
Hi there,
We don't have a fork of ros_tutorials. We have upstreamed all of the work there, so it should use the mainline rosintall instructins.

We need to fix the documentation - where did you find instructions where it says to use ms-iot?

[2020-05-05 17:45] yrzhanov commented on #216
Hi Lou,

It’s on:

https://ms-iot.github.io/ROSOnWindows/Build/source.html

Should I use other instructions?

The following failure I mentioned is not related to tutorials, is it? But I thought that there might be something AFTER the tutorials that lead to failure in the next step.

Thanks,

    Yuri

===============================================================================

Yuri Rzhanov

Ce

[2020-05-05 17:52] seanyen commented on #214
@songyuc  Can you run `colcon build --event-handlers console_cohesion+` for more diagnostic messages? That will help to tell what's error in the workspace.

[2020-05-06 11:30] songyuc commented on #214
Hi, @seanyen , thanks for your response.
I run the command, and got the information as

Looking forward to your reply!

[2020-05-07 19:47] ooeygui opened #217 "[ROS1][Workaround] Connecting rViz to a remote system"
If you are attempting to run ROS UI against a remote system, you may find that you cannot connect rViz to that system using ROS_MASTER_URI.

*Background*
localhost lookup on Windows does a DNS name resolution instead of being a fast path. This introduces a latency on each connection between each ROS node, which affects startup - and causes significant problems with rosserial. To mitigate this, we

[2020-05-08 08:04] David-milne commented on #203
Hi, I'm having issues. ```ros-melodic-desktop_full``` fails to install and ```c:\opt\vcpkg\vcpkg.exe``` doesn't exist.
I tried multiple time to install ROS,
I had ensured no versions of python were on the system,
Powershell is installed and is in the Path variables,
I've used the ```choco upgrade ros-vcpkg -y --execution-timeout=0``` workaround and the
[code]
which created ```vcpkg.exe``` but afte

[2020-05-08 20:23] seanyen commented on #203
@David-milne Is it possible to provide a screenshot of what error you saw? And the `%PATH%` environment variable from the console you run the `choco` commands?

From the logs it said it failed at `[ERROR] - ERROR: rosdepInstall.bat failed.` but unfortunately I didn't see more details other than that, so I am requesting more information.

[2020-05-08 21:10] seanyen commented on #197
This is addressed by this PR: https://github.com/ms-iot/ros-windows-build/pull/89

Closing it now.

[2020-05-08 21:10] #197 closed

[2020-05-09 00:59] David-milne commented on #203
@seanyen After I posted last I rebuilt ```vcpkg.exe``` and used ```c:\opt\chocolatey\lib-bad\ros-melodic-desktop_full\tools\rosdepInstall.bat``` which completed without errors. But then I ran ```choco upgrade ros-melodic-desktop_full -y --execution-timeout=0``` and got the same error as before.

Here is my path environment variables:
![PATHenvironvars](https://user-images.githubusercontent.com/650

[2020-05-09 14:06] KamaljeetSahoo commented on #153
I am having the same error; Please, fix it.

[2020-05-09 18:03] traversaro opened #218 "protoc ProtoBuf compiled is not found by default CMake script"
**Describe the bug**
Running the  following CMake script:
[code]
results in a failure because the `protoc` is not found.

**To Reproduce**
Run the script reported before.

**Expected behavior**
`protoc` should be found.

**Environment information:**
 - OS version: `winver`  Version 1909 18363.778
 - Chocolatey Versions: `choco list --local-only`
[code]

[2020-05-09 18:06] traversaro commented on #218
This happens because `protoc` is installed in `C:/opt/rosdeps/x64/tools/protobuf/`, but this directory is not added in any directory that can be found via [`find_program`](https://cmake.org/cmake/help/latest/command/find_program.html), for example is not appended to the `PATH` or `CMAKE_PROGRAM_PATH` enviroment variables.

[2020-05-09 20:23] seanyen commented on #214
@songyuc This is something new to me. By searching the same error messages, it is most likely to do with the system [code page](https://docs.microsoft.com/en-us/windows/win32/intl/code-pages).

Can you try to run `chcp` and report your code page? And also you can try `chcp 65001` to switch your console to use `UTF-8` and retry the colcon command again.

[2020-05-10 01:57] ooeygui commented on #218
Hello @traversaro ,
The google cartographer cmakefile has an example of how to refer to protobuf in a ROS project:
https://github.com/cartographer-project/cartographer/blob/bcd5486025df4f601c3977c44a5e00e9c80b4975/CMakeLists.txt#L42

[2020-05-10 02:00] ooeygui commented on #153
@KamaljeetSahoo Please remove Python3 from your host environment, and relaunch the windows command prompt. Melodic does not support Python3, noetic will.

[2020-05-10 07:45] traversaro commented on #218
Hi @ooeygui,
  I was aware of the possibility of using the protobuf-installed  CMake module and `protobuf_MODULE_COMPATIBLE`, but I think that forcing its use instead of fixing `ROSOnWindows` so that the normal `find_package(Protobuf REQUIRED)` works is  a workaround rather then a solution, for the following reasons:
* The fact that, differently from all other systems, you need to use `find_packag

[2020-05-10 15:38] KamaljeetSahoo commented on #203
Yes that's it
I am getting the exact same error.
Please someone help us.

[2020-05-11 07:29] lwoffice commented on #203
Hi,

I noticed that for both of you console outputs it still says that vcpkg.exe is not installed. I guess you have called installation part, but it still did not successfully build that executable. Please have a look into C:\opt\vcpkg and if there is really an executable.

regards

[2020-05-11 13:04] David-milne commented on #203
Thanks for the suggestion, but I have started with a clean ```C:\opt```, built ```vcpkg.exe``` successfully before starting ```choco upgrade ros-melodic-desktop_full -y --execution-timeout=0```, the cmd prompt is set to run as Administrator, and I have watched ```vcpkg.exe``` in file manager get removed during the install and then fail because ```vcpkg.exe``` does not exist.
Also this is a new com

[2020-05-11 16:16] ooeygui commented on #203
@David-milne Thank you for working with us on this issue. We're actively working to understand the environment where this fails.
Are you using the ROS2 install instructions from http://wiki.ros.org/Installation/Windows or from https://index.ros.org/doc/ros2/Installation/Eloquent/?
In the command window where the error occurs, can you paste into this issue the output of

[code]
Please remove any pe

[2020-05-11 16:20] ooeygui commented on #153
@KamaljeetSahoo Which error are you seeing? Can you attach your chocolatey log?

[2020-05-11 23:03] David-milne commented on #203
@ooeygui Sorry if I was confusing before, I installed ROS2 from [http://wiki.ros.org/Installation/Windows]( http://wiki.ros.org/Installation/Windows) and it worked fine. My issue is installing ROS1.

Hereis the output from ```set```
[code]

[2020-05-12 07:03] traversaro commented on #218
Note that the solution of adding `C:\opt\rosdeps\x64\tools\protobuf` to the `PATH` has  been used in the Gazebo build scripts: https://github.com/ms-iot/ros-windows-build/blob/2575093c08c39b68ffde7b4525bf669469101ac0/gazebo/gazebo9/azure-pipelines.yml#L45
so it could make sense to just include that in the environment for all the developers.
cc @seanyen

[2020-05-12 17:01] ooeygui commented on #218
I'm reopening; I'll take a look at this again.

[2020-05-12 18:10] seanyen commented on #203
@David-milne Thanks for your time working with us on this issue. At this moment I am still trying to figure out what causes the Vcpkg missing problem. But, I did some updates for Vcpkg installation checking and error handling. And hope that can catch any error earlier and give more useful error messages. Currently it is in pre-release channel, can you try `choco upgrade ros-melodic-desktop_full -y

[2020-05-12 23:53] David-milne commented on #203
@seanyen I tried a fresh install using ```choco upgrade ros-melodic-desktop_full -y --execution-timeout=0 --pre```, it failed immediately after building ```vcpkg.exe``` instead of after downloading all the other packages (like gazebo, ect)
output:
![vcpkg_fail](https://user-images.githubusercontent.com/65009399/81756467-fb797f80-94fa-11ea-9511-160de5c4a512.PNG)
Log:
[chocolatey.log](https://github

[2020-05-13 00:24] seanyen commented on #203
@David-milne Thanks. I intentionally failed the rest of the installation and made it fail fast. And it seems to me that it did build `vcpkg.exe`, however, it didn't pass the Vcpkg existence check. Can you try do `dir /s /b c:\opt\vcpkg\*.exe` and check the file existence of `C:\opt\vcpkg\.vcpkg-root`?

I am trying to figure out why the Vcpkg.exe is not [copied](https://github.com/microsoft/vcpkg/b

[2020-05-13 05:54] David-milne commented on #203
@seanyen here is the output for ```dir /s /b c:\opt\vcpkg\*.exe```:
![vcpkg_fail_exe_check](https://user-images.githubusercontent.com/65009399/81774409-a0ab4c80-9529-11ea-99ef-b1c89ab09e0e.PNG)

and ```C:\opt\vcpkg\.vcpkg-root``` does exist:
![root_exists](https://user-images.githubusercontent.com/65009399/81774445-b9b3fd80-9529-11ea-843b-7ecb594017d3.PNG)

I built ```vcpkg.exe``` using
[code]
Che

[2020-05-13 06:46] seanyen commented on #203
@David-milne Thanks for new information. This is indeed strange to me in some cases that `Vcpkg.exe` is not generated. Just wondering do you have any anti-virus software installed? Can you temporarily turn off them and retry again? I am checking because I read Vcpkg threads talking about that could be one reason to render this `Vcpkg.exe` missing issue.

https://github.com/microsoft/vcpkg/issues/9

[2020-05-13 07:07] jiaodaxiaoli commented on #203
ros-colcon-tools and ros-eloquent-desktop
ERROR: rosdepInstall.bat failed.
The upgrade of ros-eloquent-desktop was NOT successful.
![image](https://user-images.githubusercontent.com/64525474/81781715-28de2180-952b-11ea-87eb-c4a256f23634.png)
![image](https://user-images.githubusercontent.com/64525474/81781760-3e534b80-952b-11ea-8701-ec3635da075c.png)

[2020-05-13 07:09] jiaodaxiaoli commented on #203
i

I hope that someone can help me ,thank you!

[2020-05-13 08:24] David-milne commented on #203
@seanyen Well now I feel extremely dumb for not realising that earlier.

The laptop came with McAfee preinstalled, btw. I turned off both McAfee and Window's anti-virus real-time scanning and tried a fresh install and it completed. Yay!
I guess ```vcpkg.exe``` was being flagged by McAfee and automatically deleted, idk
Thanks for your patience and hard work :)

[2020-05-13 17:47] seanyen commented on #203
@jiaodaxiaoli Can you share your `chocolatey.log` and the environment variables (for example, type `set > env.log` in the console and share the `env.log`)? And please remove any personal information before sharing. Thanks!